Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring

Skip notifyFleetAuditUninstall on Windows (#6065)
  changelog/fragments/1731951823-Skip-notify-Fleet-on-Windows-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  testing/integration/install_test.go
Owners: @elastic/elastic-agent-control-plane

Review comments updates
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Add empty line
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Create changelog fragment
  changelog/fragments/1732005233-kubernetes-provider-readme.yaml
Owners: @elastic/elastic-agent-control-plane

Add 1 independent release into upgrade matrix
  magefile.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
  testing/integration/testdata/.upgrade-test-agent-versions.yml
  testing/upgradetest/versions.go
Owners: @elastic/elastic-agent-control-plane

Fix logs integration test (#6069)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

Fix logs integration test (#6069)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

Renamed sudo-integration-tests.sh to buildkite-integration-tests.sh
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

feat: remove unsupported Release fields for publishing the chart as an EKS addon
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/NOTES.txt
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
Owners: @elastic/elastic-agent-control-plane

fix artifact fetcher to use artifacts instead of snapshot for independent releases
  pkg/testing/fetcher_artifact.go
Owners: @elastic/elastic-agent-control-plane

fix: updated excluded error strings (#6031)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

fix: updated excluded error strings (#6031)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

[CI] MacOS 15 testing (#5919)
  .buildkite/pipeline.yml
Owners: @elastic/ingest-eng-prod

[CI] MacOS 15 testing (#5919)
  .buildkite/pipeline.yml
Owners: @elastic/ingest-eng-prod

[CI] MacOS 15 testing (#5919)
  .buildkite/pipeline.yml
Owners: @elastic/ingest-eng-prod

revert streams and beatStreams to []any in injectMetricsInput()
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Owners: @elastic/elastic-agent-control-plane

Add failureThreshold to elastic-agent self-monitoring config
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  internal/pkg/core/monitoring/config/config.go
Owners: @elastic/elastic-agent-control-plane

lint
  internal/pkg/agent/application/monitoring/v1_monitor.go
Owners: @elastic/elastic-agent-control-plane

fix unit tests
  internal/pkg/agent/application/coordinator/diagnostics_test.go
Owners: @elastic/elastic-agent-control-plane

Fix integration test.
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Fix audit/unenroll calls when agent runs fleet-server
  changelog/fragments/1732043830-Fix-audit-unenroll-call-when-running-fleet-server.yaml
  internal/pkg/agent/install/uninstall.go
  testing/integration/fleetserver_test.go
  testing/integration/install_test.go
Owners: @elastic/elastic-agent-control-plane

ci: ignore beats in dependabot config
  .github/dependabot.yml
Owners: @elastic/ingest-eng-prod

[CI] BK Integration tests: Run non-sudo tests (#6045)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  test_infra/ess/deployment.tf
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Add failureThreshold to elastic-agent self-monitoring config (#5999)
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  internal/pkg/core/monitoring/config/config.go
Owners: @elastic/elastic-agent-control-plane

Add failureThreshold to elastic-agent self-monitoring config (#5999)
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  internal/pkg/core/monitoring/config/config.go
Owners: @elastic/elastic-agent-control-plane

more strict regex
  internal/pkg/agent/install/install_windows.go
  internal/pkg/agent/install/install_windows_test.go
Owners: @elastic/elastic-agent-control-plane

fix description in changelog
  changelog/fragments/1731314919-Added-support-for-custom-Active-Directory-user-for-unprivileged-mode.yaml
Owners: @elastic/elastic-agent-control-plane

fix fetcher.findUri to check snapshot api directly only for snapshots with build metadata
  pkg/testing/fetcher_artifact.go
Owners: @elastic/elastic-agent-control-plane

[helm] add lint checks for renderExamples (#6060)
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role.yaml
  deploy/helm/elastic-agent/templates/agent/eck/daemonset.yaml
  deploy/helm/elastic-agent/templates/agent/eck/secret.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_secret.tpl
  deploy/helm/elastic-agent/templates/agent/k8s/secret.yaml
  deploy/helm/elastic-agent/templates/agent/service-account.yaml
  magefile.go
Owners: @elastic/elastic-agent-control-plane

[helm] add lint checks for renderExamples (#6060)
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role.yaml
  deploy/helm/elastic-agent/templates/agent/eck/daemonset.yaml
  deploy/helm/elastic-agent/templates/agent/eck/secret.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_secret.tpl
  deploy/helm/elastic-agent/templates/agent/k8s/secret.yaml
  deploy/helm/elastic-agent/templates/agent/service-account.yaml
  magefile.go
Owners: @elastic/elastic-agent-control-plane

[helm] add lint checks for renderExamples (#6060)
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role.yaml
  deploy/helm/elastic-agent/templates/agent/eck/daemonset.yaml
  deploy/helm/elastic-agent/templates/agent/eck/secret.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_secret.tpl
  deploy/helm/elastic-agent/templates/agent/k8s/secret.yaml
  deploy/helm/elastic-agent/templates/agent/service-account.yaml
  magefile.go
Owners: @elastic/elastic-agent-control-plane

simple
  pkg/version/version_parser.go
Owners: @elastic/elastic-agent-control-plane

simple
  pkg/version/version_parser.go
Owners: @elastic/elastic-agent-control-plane

fix: remove Expand converter
  go.mod
  go.sum
  internal/pkg/otel/run.go
Owners: @elastic/elastic-agent-control-plane

sed -i 's/ v0.113.0$/ v0.114.0/' go.mod
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

sed -i 's/\(go\.opentelemetry\.io\/.*\) v1\.19\.0$/\1 v1.20.0/' go.mod
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane
