Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/elastic-agent-control-plane

Update k8s files
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

audit/uninstall will call localhost with certonly tls
  internal/pkg/agent/install/uninstall.go
Owners: @elastic/elastic-agent-control-plane

Temporarily pin versions for integration tests to 8.17.0
  .buildkite/scripts/steps/beats_tests.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  testing/integration/upgrade_broken_package_test.go
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Temporarily pin versions for integration tests to 8.17.0 (#6121)
  .buildkite/scripts/steps/beats_tests.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  testing/integration/upgrade_broken_package_test.go
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

updated win22 image name
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

removed tool-versions && restored asdf vars in a pipeline
  .buildkite/bk.integration.pipeline.yml
  .tool-versions
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/install-go.ps1
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .tool-versions
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

[Kubernetes provider]Update kubernetes provider README (#5990)
  changelog/fragments/1732005233-kubernetes-provider-readme.yaml
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

[Kubernetes provider]Update kubernetes provider README (#5990)
  changelog/fragments/1732005233-kubernetes-provider-readme.yaml
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

[Kubernetes provider]Update kubernetes provider README (#5990)
  changelog/fragments/1732005233-kubernetes-provider-readme.yaml
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

mark and skip flaky TestOTelManager_Run
  internal/pkg/otel/manager/manager_test.go
Owners: @elastic/elastic-agent-control-plane

(backport #5878) proxytest: fix log after test finished (#5878)
  testing/proxytest/proxytest_test.go
Owners: @elastic/elastic-agent-control-plane

(backport #5950) [proxytest] Await requests before server shutdown #5970
  testing/proxytest/proxytest.go
Owners: @elastic/elastic-agent-control-plane

update one missed OTel dependency
  go.mod
Owners: @elastic/elastic-agent-control-plane

Fix linter
  internal/pkg/agent/install/uninstall.go
Owners: @elastic/elastic-agent-control-plane

go mod tidy && mage notice
  go.sum
Owners: @elastic/elastic-agent-control-plane

add changelog entry
  changelog/fragments/1732184289-redact-case-insensitive.yaml
Owners: @elastic/elastic-agent-control-plane

change to bug fix
  changelog/fragments/1732184289-redact-case-insensitive.yaml
Owners: @elastic/elastic-agent-control-plane

fix(6107): skipping escaping secrets in policy test because it is flaky (#6120)
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

Don't deepcopy AST when generating vars (#6058)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

Use xxhash instead of sha256 for hashing AST nodes
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/utils.go
Owners: @elastic/elastic-agent-control-plane

Evaluate condition expressions only once
  internal/pkg/agent/transpiler/ast.go
Owners: @elastic/elastic-agent-control-plane

Avoid unnecessary copies when rendering inputs
  internal/pkg/agent/transpiler/utils.go
Owners: @elastic/elastic-agent-control-plane

Remove unnecessary ast clone
  internal/pkg/agent/application/coordinator/coordinator.go
Owners: @elastic/elastic-agent-control-plane

Fix readme.
  internal/pkg/otel/README.md
Owners: @elastic/elastic-agent-control-plane

fix(6107): skipping escaping secrets in policy test because it is flaky (#6120)
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

fix(6107): skipping escaping secrets in policy test because it is flaky (#6120)
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

Skip auditing fleetserver while uninstalling agent (#5757)
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/uninstall.go
Owners: @elastic/elastic-agent-control-plane

removed tool-versions && restored asdf vars in a pipeline
  .tool-versions
Owners: @elastic/elastic-agent-control-plane

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .tool-versions
Owners: @elastic/elastic-agent-control-plane

[CI] Buildkite integration tests: Windows ess retry script (#6030)
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
Owners: @elastic/ingest-eng-prod

[Kubernetes provider]Update kubernetes provider README (#5990)
  changelog/fragments/1732005233-kubernetes-provider-readme.yaml
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

[otel] add geoip processor component
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
Owners: @elastic/elastic-agent-control-plane

[CI] Buildkite integration tests: Added 2 missing groups (#6057)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .tool-versions
Owners: @elastic/elastic-agent-control-plane

removed tool-versions && restored asdf vars in a pipeline
  .tool-versions
Owners: @elastic/elastic-agent-control-plane

docs: update docs
  version/docs/version.asciidoc
Owners: @elastic/elastic-agent-control-plane

[Release] update version
  version/version.go
Owners: @elastic/elastic-agent-control-plane

gh-actions: fix slack bump
  .github/workflows/bump-agent-versions.yml
  .github/workflows/bump-golang.yml
  .github/workflows/updatecli-compose.yml
Owners: @elastic/ingest-eng-prod

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring
