Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/ingest-otel-data, @elastic/cloudbeat

Disable ironbank target when packaging with FIPS=true (#7840)
  .buildkite/scripts/steps/package.sh
Owners: @elastic/ingest-eng-prod

Refactor monitoring log config generation (#7854)
  internal/pkg/agent/application/monitoring/v1_monitor.go
Owners: @elastic/elastic-agent-control-plane

Refactor monitoring log config generation (#7854)
  internal/pkg/agent/application/monitoring/v1_monitor.go
Owners: @elastic/elastic-agent-control-plane

Refactor monitoring log config generation (#7854)
  internal/pkg/agent/application/monitoring/v1_monitor.go
Owners: @elastic/elastic-agent-control-plane

Refactor monitoring log config generation (#7854)
  internal/pkg/agent/application/monitoring/v1_monitor.go
Owners: @elastic/elastic-agent-control-plane

Update .upgrade-test-agent-versions.yml
  testing/integration/testdata/.upgrade-test-agent-versions.yml
Owners: @elastic/elastic-agent-control-plane

fix PreviousMinor and unskip TestPreviousMinor
  testing/upgradetest/versions.go
  testing/upgradetest/versions_test.go
Owners: @elastic/elastic-agent-control-plane

Update golangci-lint to `v2.0.2` (#7661)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Update golangci-lint to `v2.0.2` (#7661)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Update golangci-lint to `v2.0.2` (#7661)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Update golangci-lint to `v2.0.2` (#7661)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Update golangci-lint to `v2.0.2` (#7661)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Include beat command line args in beat receiver config
  go.mod
  internal/pkg/otel/configtranslate/otelconfig.go
  internal/pkg/otel/configtranslate/otelconfig_test.go
Owners: @elastic/elastic-agent-control-plane

test
  .tool-versions
  test_infra/dev_env/init_asdf.sh
  test_infra/dev_env/install_all.sh
  test_infra/dev_env/install_asdf.sh
Owners: @elastic/elastic-agent-control-plane

Add prometheusreceiver to allowed replaces
  .golangci.yml
  internal/pkg/otel/configtranslate/otelconfig.go
Owners: @elastic/elastic-agent-control-plane

[otel] Disable process scraper of hostmetrics receiver
  changelog/fragments/1744886313-otel_disable_process_scraper.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  internal/pkg/otel/samples/darwin/logs_metrics_traces.yml
  internal/pkg/otel/samples/darwin/managed_otlp/logs_metrics_traces.yml
  internal/pkg/otel/samples/darwin/managed_otlp/platformlogs_hostmetrics.yml
  internal/pkg/otel/samples/darwin/platformlogs_hostmetrics.yml
  internal/pkg/otel/samples/linux/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/managed_otlp/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/managed_otlp/platformlogs_hostmetrics.yml
  internal/pkg/otel/samples/linux/platformlogs_hostmetrics.yml
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-otel-data

add prometheusreceiver to gomoddirectives
  .golangci.yml
Owners: @elastic/elastic-agent-control-plane

fix: preinstall fleet packages on the newly provisioned ESS stack of a retried step (#7855)
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

updating helm values
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Owners: @elastic/ingest-otel-data, @elastic/elastic-agent-control-plane

test
  test_infra/dev_env/install_all.sh
  test_infra/dev_env/mise_tools.sh
Owners: @elastic/elastic-agent-control-plane

Flatten install_all.sh
  test_infra/dev_env/install_all.sh
  test_infra/dev_env/readme.md
Owners: @elastic/elastic-agent-control-plane

fix: preinstall fleet packages on the newly provisioned ESS stack of a retried step (#7855)
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

fix: preinstall fleet packages on the newly provisioned ESS stack of a retried step (#7855)
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

fix: preinstall fleet packages on the newly provisioned ESS stack of a retried step (#7855)
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

fix: preinstall fleet packages on the newly provisioned ESS stack of a retried step (#7855)
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

[Managed OTLP][Helm] Update to use current container repo (#7882)
  changelog/fragments/1744839123-fix-MOtel-config-image-value.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-otel-data

[Managed OTLP][Helm] Update to use current container repo (#7882)
  changelog/fragments/1744839123-fix-MOtel-config-image-value.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-otel-data

fix conflicts
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Owners: @elastic/ingest-otel-data

Rename buildkite test step to avoid confusion (#7877)
  .buildkite/pipeline.yml
Owners: @elastic/ingest-eng-prod

Fix merge conflicts
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Fix merge conflicts
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Fix merge conflicts
  .github/workflows/golangci-lint.yml
Owners: @elastic/ingest-eng-prod

s/compliant/capable/
  testing/integration/upgrade_standalone_fips_test.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/helm @elastic/elastic-agent-control-plane
/deploy/helm/edot-collector @elastic/ingest-otel-data
/deploy/kubernetes @elastic/elastic-agent-control-plane
/dev-tools/kubernetes @elastic/elastic-agent-control-plane
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/elastic-agent-control-plane
