Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

correct commit
  .github/workflows/bump-agent-versions.yml
  .github/workflows/bump-golang.yml
  .github/workflows/updatecli-compose.yml
Owners: @elastic/ingest-eng-prod

[CI] Buildkite integration tests: Made AWS ARM instance size equal to x86_64 (#6064)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .tool-versions
Owners: @elastic/elastic-agent-control-plane

removed tool-versions && restored asdf vars in a pipeline
  .tool-versions
Owners: @elastic/elastic-agent-control-plane

Fix logs integration test (#6069)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

Elastic Defend cannot run in emulation (#6095)
  changelog/fragments/1732110636-elastic-defend-cannot-run-in-emulation.yaml
  specs/endpoint-security.spec.yml
Owners: @elastic/elastic-agent-control-plane

Elastic Defend cannot run in emulation (#6095)
  changelog/fragments/1732110636-elastic-defend-cannot-run-in-emulation.yaml
  specs/endpoint-security.spec.yml
Owners: @elastic/elastic-agent-control-plane

Revert "update notice"
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

remove windows build constraints for otel
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/validate_test.go
Owners: @elastic/elastic-agent-control-plane

move processing windows events earlier in the boot process
  internal/pkg/agent/cmd/run.go
Owners: @elastic/elastic-agent-control-plane

add changelog
  changelog/fragments/1731962301-re-enable-otel-subcommand-on-Windows.yaml
Owners: @elastic/elastic-agent-control-plane

add Windows to otel integration tests
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

update notice after rebase
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

mark and skip flaky TestOTelManager_Run (#6126)
  internal/pkg/otel/manager/manager_test.go
Owners: @elastic/elastic-agent-control-plane

[CI] BK Integration tests: Run non-sudo tests (#6045)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  test_infra/ess/deployment.tf
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

added rhel8 tests (#6044)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Merged
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

Add failureThreshold to elastic-agent self-monitoring config (#5999)
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  internal/pkg/core/monitoring/config/config.go
Owners: @elastic/elastic-agent-control-plane

Test fix: propely collect hostnames for GetAgentByPolicyIDAndHostnameFromList
  pkg/testing/tools/fleettools/fleet.go
Owners: @elastic/elastic-agent-control-plane

added analytics plugin
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

changed sudo-integration-tests.sh
  .buildkite/scripts/buildkite-integration-tests.sh
Owners: @elastic/ingest-eng-prod

added win25 non-sudo test step
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

added analytics plugin (#6145)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Test fix: propely collect hostnames for GetAgentByPolicyIDAndHostnameFromList (#6146)
  pkg/testing/tools/fleettools/fleet.go
Owners: @elastic/elastic-agent-control-plane

Test fix: propely collect hostnames for GetAgentByPolicyIDAndHostnameFromList (#6146)
  pkg/testing/tools/fleettools/fleet.go
Owners: @elastic/elastic-agent-control-plane

[CI] BK integration tests: made ESS deployment equat to the ess_provisioner
  test_infra/ess/deployment.tf
Owners: @elastic/elastic-agent-control-plane

Added integrations server configuration id
  test_infra/ess/deployment.tf
Owners: @elastic/elastic-agent-control-plane

ci: ignore beats in dependabot config (#6086)
  .github/dependabot.yml
Owners: @elastic/ingest-eng-prod

ci: ignore beats in dependabot config (#6086)
  .github/dependabot.yml
Owners: @elastic/ingest-eng-prod

[CI] BK integration tests: ESS deployment adjustments (#6150)
  test_infra/ess/deployment.tf
Owners: @elastic/elastic-agent-control-plane

Add BUILDKITE_ANALYTICS_TOKEN to buildkite integration tests
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

Add BUILDKITE_ANALYTICS_TOKEN to powershell
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/ingest-eng-prod

[CI] Add BUILDKITE_ANALYTICS_TOKEN to buildkite integration tests (#6153)
  .buildkite/hooks/pre-command
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
Owners: @elastic/ingest-eng-prod

Fix backport.
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

re-enable otel subcommand on Windows (#6068)
  changelog/fragments/1731962301-re-enable-otel-subcommand-on-Windows.yaml
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/validate_test.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

re-enable otel subcommand on Windows (#6068)
  changelog/fragments/1731962301-re-enable-otel-subcommand-on-Windows.yaml
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/validate_test.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring
