Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

Increase failure threshold for agent monitoring inputs from 2 to 5
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Owners: @elastic/elastic-agent-control-plane

test: no merge it
  README.md
Owners: @elastic/elastic-agent-control-plane

Fix BUILDKITE_ANALYTICS_TOKEN
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/integration_tests.sh
Owners: @elastic/ingest-eng-prod

Fix BUILDKITE_ANALYTICS_TOKEN (#6163)
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/integration_tests.sh
Owners: @elastic/ingest-eng-prod

mark and skip flaky TestOTelManager_Run (#6126)
  internal/pkg/otel/manager/manager_test.go
Owners: @elastic/elastic-agent-control-plane

Increase failure threshold for agent monitoring inputs from 2 to 5 (#6160)
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Owners: @elastic/elastic-agent-control-plane

Increase failure threshold for agent monitoring inputs from 2 to 5 (#6160)
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Owners: @elastic/elastic-agent-control-plane

Increase failure threshold for agent monitoring inputs from 2 to 5 (#6160)
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Owners: @elastic/elastic-agent-control-plane

Increase failure threshold for agent monitoring inputs from 2 to 5 (#6160)
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Owners: @elastic/elastic-agent-control-plane

[CI] Source BUILDKITE_ANALYTICS_TOKEN in the commands
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Owners: @elastic/ingest-eng-prod

Added windows retry for BUILDKITE_ANALYTICS_TOKEN. Test changes
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/retry.ps1
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
  .buildkite/scripts/steps/ess.ps1
Owners: @elastic/ingest-eng-prod

Bump K8S version
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Owners: @elastic/obs-cloudnative-monitoring

Test windows scope
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Owners: @elastic/ingest-eng-prod

chore: add changelog fragment
  changelog/fragments/1732809895-add-GeoIP-processor-to-EDOT-collector.yaml
Owners: @elastic/elastic-agent-control-plane

Initial commit.
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/vars/vars.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/controller_test.go
Owners: @elastic/elastic-agent-control-plane

Update catalog file with correct system property (#6003)
  catalog-info.yaml
Owners: @elastic/ingest-eng-prod

Update catalog file with correct system property (#6003)
  catalog-info.yaml
Owners: @elastic/ingest-eng-prod

Make restart interval configurable. Retry provider create as well.
  internal/pkg/composable/config.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

Add changelog.
  changelog/fragments/1732840106-Only-run-providers-referenced-in-the-policy.yaml
Owners: @elastic/elastic-agent-control-plane

more UTs
  pkg/version/version_parser_test.go
Owners: @elastic/elastic-agent-control-plane

Add 1 independent release into upgrade matrix (#6075)
  pkg/testing/fetcher_artifact.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
  testing/integration/testdata/.upgrade-test-agent-versions.yml
  testing/upgradetest/versions.go
Owners: @elastic/elastic-agent-control-plane

Add 1 independent release into upgrade matrix (#6075)
  pkg/testing/fetcher_artifact.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
  testing/integration/testdata/.upgrade-test-agent-versions.yml
  testing/upgradetest/versions.go
Owners: @elastic/elastic-agent-control-plane

Test windows scope
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Owners: @elastic/ingest-eng-prod

Avoid unbound variable
  .buildkite/hooks/pre-command
Owners: @elastic/ingest-eng-prod

Avoid unbound variable
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Owners: @elastic/ingest-eng-prod

Teverted test collector plugin for bk integration tests. It doesn't support windows
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Skip new ARM tests: https://github.com/elastic/ingest-dev/issues/4610
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Fixes from code review.
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

Update retry interval to 30 seconds.
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

add kube-stack values file to Update mage target
  deploy/helm/edot-collector/kube-stack/values.yaml
  magefile.go
Owners: @elastic/elastic-agent-control-plane

remove tls setting
  internal/pkg/agent/install/uninstall.go
Owners: @elastic/elastic-agent-control-plane

Add PR link to changelog
  changelog/fragments/1732043830-Fix-audit-unenroll-call-when-running-fleet-server.yaml
Owners: @elastic/elastic-agent-control-plane

feat: drop init.d support and go-daemon binaries
  dev-tools/mage/godaemon.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/deb/elastic-agent.init.sh.tmpl
  dev-tools/packaging/templates/deb/init.sh.tmpl
  dev-tools/packaging/templates/rpm/elastic-agent.init.sh.tmpl
  dev-tools/packaging/templates/rpm/init.sh.tmpl
  go.mod
  go.sum
  magefile.go
  tools/tools.go
Owners: @elastic/elastic-agent-control-plane

conflicts
  testing/integration/testdata/.upgrade-test-agent-versions.yml
Owners: @elastic/elastic-agent-control-plane

add labels args
  dev-tools/packaging/docker/Dockerfile
Owners: @elastic/elastic-agent-control-plane

Cleanup old docker-related stuff
  Dockerfile
  Dockerfile.skaffold
  deploy/skaffold/.env.example
  deploy/skaffold/.gitignore
  deploy/skaffold/kustomization.yaml
  deploy/skaffold/patches/elastic-agent-managed-entrypoint.yaml
  deploy/skaffold/patches/elastic-agent-standalone-entrypoint.yaml
  deploy/skaffold/patches/elasticsearch-env-vars.yaml
  deploy/skaffold/patches/fleet-env-vars.yaml
  docker-compose.yml
  skaffold.yaml
Owners: @elastic/elastic-agent-control-plane

Add base ubuntu and wolfi images
  dev-tools/packaging/docker/Dockerfile
Owners: @elastic/elastic-agent-control-plane

WIP - add build args dynamically
  dev-tools/mage/dockerbuilder.go
  dev-tools/packaging/docker/Dockerfile
Owners: @elastic/elastic-agent-control-plane

WIP add support for complete image variant
  dev-tools/packaging/docker/Dockerfile
Owners: @elastic/elastic-agent-control-plane

fixup! WIP - add build args dynamically
  dev-tools/mage/dockerbuilder.go
  dev-tools/packaging/docker/Dockerfile
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring
