Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring

Store AST directly in dynamic provider mappings
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

kubernetes provider binary
  cmd/k8sprovider/Dockerfile
  cmd/k8sprovider/k8sprovider.yaml
  cmd/k8sprovider/main.go
  cmd/k8sprovidercontroller/Dockerfile
  cmd/k8sprovidercontroller/k8sprovider.yaml
  cmd/k8sprovidercontroller/main.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/providers/kubernetes/kubernetes.go
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

wip: share host info between components
  internal/pkg/agent/application/info/agent_metadata.go
  internal/pkg/agent/application/info/agent_metadata_test.go
  internal/pkg/agent/application/info/inject_config.go
  internal/pkg/composable/providers/host/host.go
  internal/pkg/util/host.go
  pkg/component/platforms.go
  pkg/testing/define/define.go
Owners: @elastic/elastic-agent-control-plane

Avoid unnecessary copies when rendering inputs
  internal/pkg/agent/transpiler/utils.go
Owners: @elastic/elastic-agent-control-plane

Remove unnecessary ast clone
  internal/pkg/agent/application/coordinator/coordinator.go
Owners: @elastic/elastic-agent-control-plane

wip: cache final config ast nodes
  internal/pkg/agent/transpiler/utils.go
  internal/pkg/agent/transpiler/vars.go
Owners: @elastic/elastic-agent-control-plane

Use xxhash instead of sha256 for hashing AST nodes
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/utils.go
Owners: @elastic/elastic-agent-control-plane

Evaluate condition expressions only once
  internal/pkg/agent/transpiler/ast.go
Owners: @elastic/elastic-agent-control-plane

Emit updates for running Pods only
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Owners: @elastic/obs-cloudnative-monitoring

sudo param
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
Owners: @elastic/ingest-eng-prod

Test non-sudo
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

mage fmt
  testing/integration/switch_unprivileged_test.go
Owners: @elastic/elastic-agent-control-plane

Cleanup
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

cleanup
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Cleanup
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

ess.ps1
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
Owners: @elastic/ingest-eng-prod

[Release] Update version to 8.16.1 (#5817)
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

fix: updated excluded error strings
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

fix: added error string
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

Test Windown 2022 in buildkite
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .github/workflows/bump-golang.yml
  testing/integration/apm_propagation_test.go
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

fix: updated excluded error strings (#6031)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

fix: updated excluded error strings (#6031)
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5495): ran mage addLicenseHeader
  dev-tools/mage/pkgcommon/pkgcommon-types.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5495): added changelog fragment
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
Owners: @elastic/elastic-agent-control-plane

Update changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
Owners: @elastic/elastic-agent-control-plane

enhancement(5495): added package types to expected binaries, updated packaging function
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/pkgcommon/pkgcommon-types.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5495): ran mage clean
  dev-tools/mage/pkgtypes.go
Owners: @elastic/elastic-agent-control-plane

added win 10 && 11 steps
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Remove endpoint security from linux containers (#6016)
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/pkgcommon/pkgcommon-types.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Owners: @elastic/elastic-agent-control-plane

Remove endpoint security from linux containers (#6016)
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/pkgcommon/pkgcommon-types.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Owners: @elastic/elastic-agent-control-plane

[CI] Buildkite integration tests: Windows ess retry script (#6030)
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
Owners: @elastic/ingest-eng-prod

added rhel8 tests
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/sudo-integration-tests.sh
Owners: @elastic/ingest-eng-prod

Added apm to TF deployment
  .buildkite/scripts/integration-tests.ps1
  test_infra/ess/deployment.tf
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Test build non-sudo
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

removed apm
  test_infra/ess/deployment.tf
Owners: @elastic/elastic-agent-control-plane

do not require password
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/unprivileged.go
Owners: @elastic/elastic-agent-control-plane

resolved conflicts
  dev-tools/mage/manifest/manifest.go
  magefile.go
Owners: @elastic/elastic-agent-control-plane

Fix Kibana config
  test_infra/ess/deployment.tf
Owners: @elastic/elastic-agent-control-plane

Add var generation benchmark
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Owners: @elastic/elastic-agent-control-plane

Emit Pod data only for running Pods in the Kubernetes provider
  changelog/fragments/1731500837-pod-status-updates.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring
