Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/observablt-ci, @elastic/observablt-ci-contractors, @elastic/ingest-tech-lead, @elastic/ingest-otel-data

Fix conflicts
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

fix: compilation of TestClassicAndReceiverAgentMonitoring
  testing/integration/beat_receivers_test.go
Owners: @elastic/elastic-agent-control-plane

WIP Add reason for rolled back upgrades
  internal/pkg/agent/application/upgrade/details/details.go
  internal/pkg/agent/application/upgrade/details/details_test.go
  internal/pkg/agent/application/upgrade/marker_watcher.go
  internal/pkg/agent/cmd/watch.go
Owners: @elastic/elastic-agent-control-plane

Quick Windows test
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Owners: @elastic/observablt-ci, @elastic/observablt-ci-contractors

Quick test Windows
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/observablt-ci, @elastic/observablt-ci-contractors

Add godoc for FileLocker
  internal/pkg/agent/application/filelock/file_locker.go
Owners: @elastic/elastic-agent-control-plane

Handle possible error at AppLocker creation
  internal/pkg/agent/application/filelock/app_locker.go
Owners: @elastic/elastic-agent-control-plane

Revert last two commits
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/observablt-ci, @elastic/observablt-ci-contractors

Applied proposed changes
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess.sh
Owners: @elastic/observablt-ci, @elastic/observablt-ci-contractors

Bump version to 9.0.3
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Owners: @elastic/elastic-agent-control-plane

Bump version to 9.0.3
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
Owners: @elastic/ingest-otel-data, @elastic/elastic-agent-control-plane

Expose Locked() function through FileLocker and add tests for double locking
  internal/pkg/agent/application/filelock/file_locker.go
  internal/pkg/agent/application/filelock/file_locker_test.go
Owners: @elastic/elastic-agent-control-plane

split lockMarkerFile() creation and locking
  internal/pkg/agent/application/upgrade/marker_access_other.go
  internal/pkg/agent/application/upgrade/marker_access_windows.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
Owners: @elastic/elastic-agent-control-plane

fixup! Handle possible error at AppLocker creation
  internal/pkg/agent/application/filelock/app_locker.go
Owners: @elastic/elastic-agent-control-plane

remove extra FIPS var manipulation
  magefile.go
Owners: @elastic/elastic-agent-control-plane

fix: exclude extensions from otel to beats status processing
  internal/pkg/otel/translate/status.go
  testing/integration/beat_receivers_test.go
Owners: @elastic/elastic-agent-control-plane

Fixed indentation
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/observablt-ci, @elastic/observablt-ci-contractors

Adding a unified FIPS integration test
  pkg/testing/define/define.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  testing/integration/beats_serverless_test.go
  testing/integration/fips_test.go
Owners: @elastic/elastic-agent-control-plane

Combine less and equal unit tests
  pkg/version/version_parser_test.go
Owners: @elastic/elastic-agent-control-plane

Removing TestFIPSAgentConnectingToFIPSFleetServerInECHFRH
  testing/integration/fleetserver_fips_test.go
Owners: @elastic/elastic-agent-control-plane

Uncomment build tag
  testing/integration/fips_test.go
Owners: @elastic/elastic-agent-control-plane

Fix test name
  testing/integration/fips_test.go
Owners: @elastic/elastic-agent-control-plane

Change bk instance where image is pushed
  .buildkite/bk.integration-fips.pipeline.yml
Owners: @elastic/observablt-ci, @elastic/observablt-ci-contractors

Formatting imports
  testing/integration/fips_test.go
Owners: @elastic/elastic-agent-control-plane

Bump version 9.0.3 (#8379)
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Owners: @elastic/ingest-otel-data, @elastic/elastic-agent-control-plane

otel: add cumulativetodeltaprocessor to EDOT collector (#8372)
  changelog/fragments/1749176965-add-cumulativetodeltaprocessor.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Owners: @elastic/elastic-agent-control-plane

otel: add cumulativetodeltaprocessor to EDOT collector (#8372)
  changelog/fragments/1749176965-add-cumulativetodeltaprocessor.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Owners: @elastic/elastic-agent-control-plane

otel: add cumulativetodeltaprocessor to EDOT collector (#8372)
  changelog/fragments/1749176965-add-cumulativetodeltaprocessor.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Owners: @elastic/elastic-agent-control-plane

otel: add cumulativetodeltaprocessor to EDOT collector (#8372)
  changelog/fragments/1749176965-add-cumulativetodeltaprocessor.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Owners: @elastic/elastic-agent-control-plane

otel: add cumulativetodeltaprocessor to EDOT collector (#8372)
  changelog/fragments/1749176965-add-cumulativetodeltaprocessor.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Owners: @elastic/elastic-agent-control-plane

Rename isRollbackWindowFeatureAvailable -> isRollbackWindowSupported
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/upgrade.go
Owners: @elastic/elastic-agent-control-plane

[Azure] Replace dependency with properly generated one
  go.mod
Owners: @elastic/elastic-agent-control-plane

Update changelog/fragments/1740166208-allow-deb-rpm-upgrade-with-tamper-protected-endpoint.yaml
  changelog/fragments/1740166208-allow-deb-rpm-upgrade-with-tamper-protected-endpoint.yaml
Owners: @elastic/elastic-agent-control-plane

Update dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
Owners: @elastic/elastic-agent-control-plane

Update pkg/testing/tools/tools.go
  pkg/testing/tools/tools.go
Owners: @elastic/elastic-agent-control-plane

Update dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
Owners: @elastic/elastic-agent-control-plane

Use duration.String() to print out rollback window
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
Owners: @elastic/elastic-agent-control-plane

Add godoc for selectWatcherExecutable function
  internal/pkg/agent/application/upgrade/upgrade.go
Owners: @elastic/elastic-agent-control-plane

Simplify assertions
  internal/pkg/agent/application/upgrade/rollback_test.go
Owners: @elastic/elastic-agent-control-plane

Clarify TODO comment
  internal/pkg/agent/cmd/watch.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/observablt-ci @elastic/observablt-ci-contractors

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/observablt-ci @elastic/observablt-ci-contractors
/.ci @elastic/observablt-ci @elastic/observablt-ci-contractors
/.github @elastic/observablt-ci @elastic/observablt-ci-contractors
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/helm @elastic/elastic-agent-control-plane
/deploy/helm/edot-collector @elastic/ingest-otel-data
/deploy/kubernetes @elastic/elastic-agent-control-plane
/dev-tools/kubernetes @elastic/elastic-agent-control-plane
/internal/pkg/composable/providers/kubernetes @elastic/elastic-agent-control-plane
