Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/observablt-robots, @elastic/ingest-tech-lead, @elastic/cloudbeat

removed unneded file
  internal/pkg/agent/install/.flavors
Owners: @elastic/elastic-agent-control-plane

catalog-info: permissions for triggering builds does not work (#7413)
  catalog-info.yaml
Owners: @elastic/observablt-robots

Add prometheus receiver to golangci-lint exceptions
  .golangci.yml
Owners: @elastic/elastic-agent-control-plane

[8.18] Update OTel components to v0.120.x
  changelog/fragments/1742235477-update-otel-components-to-v0.120.1.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
Owners: @elastic/elastic-agent-control-plane

Support replace directives when generating otel readme
  go.mod
  magefile.go
Owners: @elastic/elastic-agent-control-plane

[CI] Grant build and read permission for serverless beats pipeline
  catalog-info.yaml
Owners: @elastic/observablt-robots

Change `runtime` to `_runtime_experimental`
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Log component ids using the otel runtime
  internal/pkg/agent/application/coordinator/coordinator.go
Owners: @elastic/elastic-agent-control-plane

Fix integration test
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

[9.0] Switch to fork of opentelemetry-collector-contrib and restore beat receivers (#7411)
  .golangci.yml
  go.mod
  go.sum
  internal/pkg/agent/cmd/testdata/otel/components-output.yml
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Revert "enhancement(5039): update beats version (#7310) (#7352)"
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

Update catalog-info.yaml
  catalog-info.yaml
Owners: @elastic/observablt-robots

[chore] fix mage otel:readme
  internal/pkg/otel/README.md
  magefile.go
Owners: @elastic/elastic-agent-control-plane

[8.18] Update OTel components to v0.120.x (#7443)
  .golangci.yml
  changelog/fragments/1742235477-update-otel-components-to-v0.120.1.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
  magefile.go
Owners: @elastic/elastic-agent-control-plane

change images
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  testing/integration/kubernetes_agent_standalone_test.go
Owners: @elastic/elastic-agent-control-plane

[9.0] Use elastic apm connector to replace other apm components (#7172)
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/values.yaml
  go.mod
  go.sum
  internal/pkg/agent/cmd/testdata/otel/components-output.yml
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/samples/darwin/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/logs_metrics_traces.yml
  internal/pkg/otel/testdata/all-components.yml
Owners: @elastic/elastic-agent-control-plane

Revert "change images"
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  testing/integration/kubernetes_agent_standalone_test.go
Owners: @elastic/elastic-agent-control-plane

Revert "enhancement(5039): update beats version (#7310) (#7352)" (#7450)
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

revert helm changes
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Owners: @elastic/elastic-agent-control-plane

[CI] Grant build and read permission for serverless beats pipeline (#7449)
  catalog-info.yaml
Owners: @elastic/observablt-robots

helm
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Owners: @elastic/elastic-agent-control-plane

Store runtime manager value on the Component level
  pkg/component/component.go
  pkg/component/component_test.go
Owners: @elastic/elastic-agent-control-plane

Add runtime manager field to component model
  pkg/component/component.go
  pkg/component/component_test.go
Owners: @elastic/elastic-agent-control-plane

Fix integration test
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Change `runtime` to `_runtime_experimental`
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Make component ordering consistent
  pkg/component/component.go
  pkg/component/component_test.go
Owners: @elastic/elastic-agent-control-plane

Support component runtime manager in coordinator
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  testing/integration/diagnostics_test.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Log component ids using the otel runtime
  internal/pkg/agent/application/coordinator/coordinator.go
Owners: @elastic/elastic-agent-control-plane

feat: utilise edot-related images in otel k8s integration tests
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/buildkite-k8s-integration-tests.sh
  deploy/helm/edot-collector/kube-stack/values.yaml
  testing/integration/kubernetes_agent_standalone_test.go
  testing/integration/otel_helm_test.go
Owners: @elastic/observablt-robots, @elastic/elastic-agent-control-plane

enhancement(4811): updated the errors returned from check upgrade and updated the test function name
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(4811): added changelog
  changelog/fragments/1742318642-fips-to-fips-upgrade-error-reword.yaml
Owners: @elastic/elastic-agent-control-plane

fix: download all docker artifacts in k8s integration steps
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/observablt-robots

Fix slice allocation
  internal/pkg/agent/application/coordinator/coordinator.go
Owners: @elastic/elastic-agent-control-plane

Revert "helm"
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Owners: @elastic/elastic-agent-control-plane

Support pseudo-versions in otel readme mage command
  go.mod
  magefile.go
Owners: @elastic/elastic-agent-control-plane

feat: introduce new k8s integration test for edot and edot-wolfi images
  testing/integration/otel_helm_test.go
Owners: @elastic/elastic-agent-control-plane

Remove V2 seed functions from non-FIPS agents
  changelog/fragments/1741808763-FIPS-Compliant-agent-file-vault.yaml
  internal/pkg/agent/vault/seed.go
  internal/pkg/agent/vault/seed_fips.go
  internal/pkg/agent/vault/seed_fips_test.go
  internal/pkg/agent/vault/seed_nofips.go
  internal/pkg/agent/vault/seed_nofips_test.go
  internal/pkg/agent/vault/seed_test.go
  internal/pkg/agent/vault/vault_file_fips_test.go
  internal/pkg/agent/vault/vault_file_nofips_test.go
  internal/pkg/agent/vault/vault_file_test.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/observablt-robots

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/observablt-robots
/.ci @elastic/observablt-robots
/.github @elastic/observablt-robots
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/helm @elastic/elastic-agent-control-plane
/deploy/kubernetes @elastic/elastic-agent-control-plane
/dev-tools/kubernetes @elastic/elastic-agent-control-plane
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/elastic-agent-control-plane
