Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

enhancement(5320): added changelog
  changelog/fragments/1731292950-added-integration-tests-for-escaping-secrets-in-policy.yaml
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): ran mage addLicenseHeaders
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): remove changelog
  changelog/fragments/1731292950-added-integration-tests-for-escaping-secrets-in-policy.yaml
Owners: @elastic/elastic-agent-control-plane

ehancement(5320): update import order
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): added force flag to package installation
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): added test case where we get install package and get diagnostics
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): updated test case, corrected assertion
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): updated tests removed template file
  testing/integration/custom_log_package.json.tmpl
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): updated tests, fixed error in parsing pre-config
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

Removed build_id
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Scheduled builds for the new BK integration testing pipeline
  catalog-info.yaml
Owners: @elastic/ingest-eng-prod

cleanup
  catalog-info.yaml
Owners: @elastic/ingest-eng-prod

Revert "Skip TestAPMConfig for now (#5891)" (#5993)
  testing/integration/apm_propagation_test.go
Owners: @elastic/elastic-agent-control-plane

[CI] Run Buildkite integration tests by CRON (#6013)
  catalog-info.yaml
Owners: @elastic/ingest-eng-prod

Update internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install.go
Owners: @elastic/elastic-agent-control-plane

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/install-go.ps1
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .tool-versions
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

[CI] Fix windows image prefix in the new integration pipeline
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

[CI] Fix windows image prefix in the new integration pipeline (#6019)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

[CI] Fix windows image prefix in the new integration pipeline (#6019)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

update beats
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

switch to errors.Is
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

add filebeat receiver e2e test
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Update testing/integration/otel_test.go
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

[Release] update version
  version/version.go
Owners: @elastic/elastic-agent-control-plane

Update k8s resources
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

Fixing more conflicts
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
Owners: @elastic/elastic-agent-control-plane

Fix flaky test Test_runDispatcher/gateway_actions_passed (#5405)
  internal/pkg/agent/application/managed_mode_test.go
Owners: @elastic/elastic-agent-control-plane

Add filebeat receiver end to end test (#5997)
  go.mod
  go.sum
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Add filebeat receiver end to end test (#5997)
  go.mod
  go.sum
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Update internal/pkg/agent/cmd/unprivileged.go
  internal/pkg/agent/cmd/unprivileged.go
Owners: @elastic/elastic-agent-control-plane

added e2e tests for darwin and linux
  internal/pkg/agent/install/install_windows.go
  pkg/testing/define/testdata/sample_test.go
  pkg/testing/fixture_install.go
  testing/installtest/checks.go
  testing/installtest/checks_unix.go
  testing/installtest/checks_windows.go
  testing/integration/install_test.go
  testing/integration/switch_unprivileged_test.go
Owners: @elastic/elastic-agent-control-plane

add integration tests using a proxy with mTLS for control plane with Elastic Defend installed (#5889)
  pkg/testing/define/define.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/tools/tools.go
  testing/integration/endpoint_security_test.go
  testing/integration/endpoint_test_tools.go
  testing/proxytest/https.go
  testing/proxytest/proxytest.go
Owners: @elastic/elastic-agent-control-plane

fix conflicts: use proxytest.go from main
  testing/proxytest/proxytest.go
Owners: @elastic/elastic-agent-control-plane

Sudo test script refactoring
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
Owners: @elastic/ingest-eng-prod

Add var generation benchmark
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Owners: @elastic/elastic-agent-control-plane

update elastic-agent-libs to v0.17.3
  go.mod
  go.sum
Owners: @elastic/elastic-agent-control-plane

reverted sample_test
  pkg/testing/define/testdata/sample_test.go
Owners: @elastic/elastic-agent-control-plane

Enhancement/5320 add integration test escape secrets in policy (#5987)
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

Enhancement/5320 add integration test escape secrets in policy (#5987)
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

Don't deepcopy AST when generating vars
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring
