Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

Fix Kibana config
  test_infra/ess/deployment.tf
Owners: @elastic/elastic-agent-control-plane

Fix Kibana config
  test_infra/ess/deployment.tf
  test_infra/ess/kibana.conf.yaml
Owners: @elastic/elastic-agent-control-plane

Add var generation benchmark (#6028)
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Owners: @elastic/elastic-agent-control-plane

Add var generation benchmark (#6028)
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Owners: @elastic/elastic-agent-control-plane

Non-sudo test run
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Non-sudo test run
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Emit Pod data only for running Pods in the Kubernetes provider (#6011)
  changelog/fragments/1731500837-pod-status-updates.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

Emit Pod data only for running Pods in the Kubernetes provider (#6011)
  changelog/fragments/1731500837-pod-status-updates.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

Emit Pod data only for running Pods in the Kubernetes provider (#6011)
  changelog/fragments/1731500837-pod-status-updates.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Owners: @elastic/elastic-agent-control-plane, @elastic/obs-cloudnative-monitoring

Cleanup
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Cleanup
  test_infra/ess/kibana.conf.yaml
Owners: @elastic/elastic-agent-control-plane

Test new groups
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Cleanup
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

Update internal/pkg/composable/providers/kubernetes/README.md
  internal/pkg/composable/providers/kubernetes/README.md
Owners: @elastic/obs-cloudnative-monitoring

fix: add lint checks for renderExamples
  magefile.go
Owners: @elastic/elastic-agent-control-plane

fix: helm linting errors
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role.yaml
  deploy/helm/elastic-agent/templates/agent/eck/daemonset.yaml
  deploy/helm/elastic-agent/templates/agent/eck/secret.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_secret.tpl
  deploy/helm/elastic-agent/templates/agent/k8s/secret.yaml
  deploy/helm/elastic-agent/templates/agent/service-account.yaml
Owners: @elastic/elastic-agent-control-plane

Write integration test.
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/ogc/supported.go
  testing/integration/install_test.go
Owners: @elastic/elastic-agent-control-plane

Skip notifyFleetAuditUninstall on Windows.
  internal/pkg/agent/install/uninstall.go
Owners: @elastic/elastic-agent-control-plane

stop reading system log files for OtelTest
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Don't deepcopy AST when generating vars
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Owners: @elastic/elastic-agent-control-plane

added rhel8 tests (#6044)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/sudo-integration-tests.sh
Owners: @elastic/ingest-eng-prod

Test Otel test Fix
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

[CI] Buildkite integration tests: Added 2 missing groups (#6057)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

[CI] Buildkite integration tests: Made AWS ARM instance size equal to x86_64
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Apply suggestions from code review
  .buildkite/pipeline.yml
Owners: @elastic/ingest-eng-prod

Skip notifyFleetAuditUninstall on Windows.
  internal/pkg/agent/install/uninstall.go
Owners: @elastic/elastic-agent-control-plane

Update integration test.
  testing/integration/install_test.go
Owners: @elastic/elastic-agent-control-plane

Add changelog.
  changelog/fragments/1731951823-Skip-notify-Fleet-on-Windows-uninstall.yaml
Owners: @elastic/elastic-agent-control-plane

stop reading system log files for OtelTest (#6061)
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

stop reading system log files for OtelTest (#6061)
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

[CI] Buildkite integration tests: Made AWS ARM instance size equal to x86_64 (#6064)
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

stop reading system log files for OtelTest
  testing/integration/otel_test.go
Owners: @elastic/elastic-agent-control-plane

Rename otelStatus to collector.
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/monitoring/liveness.go
  internal/pkg/agent/application/monitoring/liveness_test.go
  internal/pkg/otel/manager/force_extension_converter.go
  internal/pkg/otel/manager/manager.go
  pkg/control/v2/server/server.go
  pkg/control/v2/server/server_test.go
Owners: @elastic/elastic-agent-control-plane

Fix logs integration test
  testing/integration/logs_ingestion_test.go
Owners: @elastic/elastic-agent-control-plane

Add coordinator state information to state.yml diagnostics.
  internal/pkg/agent/application/coordinator/coordinator.go
Owners: @elastic/elastic-agent-control-plane

Add comment to healthcheckv2extension.
  internal/pkg/otel/manager/extension.go
Owners: @elastic/elastic-agent-control-plane

Skip notifyFleetAuditUninstall on Windows (#6065)
  changelog/fragments/1731951823-Skip-notify-Fleet-on-Windows-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  testing/integration/install_test.go
Owners: @elastic/elastic-agent-control-plane

Skip notifyFleetAuditUninstall on Windows (#6065)
  changelog/fragments/1731951823-Skip-notify-Fleet-on-Windows-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  testing/integration/install_test.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring
