Repository elastic/elastic-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/ingest-eng-prod, @elastic/ingest-tech-lead, @elastic/obs-cloudnative-monitoring, @elastic/cloudbeat

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Top-level files ownership
/catalog-info.yaml @elastic/ingest-eng-prod

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/ingest-eng-prod
/.ci @elastic/ingest-eng-prod
/.github @elastic/ingest-eng-prod
/.github/CODEOWNERS @elastic/ingest-tech-lead
/deploy/kubernetes @elastic/obs-cloudnative-monitoring
/dev-tools/kubernetes @elastic/obs-cloudnative-monitoring
/internal/pkg/agent/application/configuration_embed_changed_test.go @elastic/cloudbeat
/internal/pkg/composable/providers/kubernetes @elastic/obs-cloudnative-monitoring

pwsh
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/ingest-eng-prod

pwsh
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/ingest-eng-prod

Merged with main
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

gotestsum
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/ingest-eng-prod

gotestsum
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/ingest-eng-prod

gotestsum
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Apply review changes
  .buildkite/pipeline.yml
Owners: @elastic/ingest-eng-prod

Run with stack
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

feat: add envFrom in agent preset
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

Test all OS
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/integration-tests.ps1
Owners: @elastic/ingest-eng-prod

Test all OS
  .buildkite/bk.integration.pipeline.yml
  .tool-versions
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

Test all OS
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

Added gotestsum for testing purposes
  .buildkite/scripts/sudo-integration-tests.sh
Owners: @elastic/ingest-eng-prod

Revert "Skip TestAPMConfig for now (#5891)"
  testing/integration/apm_propagation_test.go
Owners: @elastic/elastic-agent-control-plane

added asdf install, newer artifacts
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
Owners: @elastic/ingest-eng-prod

Revert "Skip TestAPMConfig for now (#5891)" (#5993)
  testing/integration/apm_propagation_test.go
Owners: @elastic/elastic-agent-control-plane

[CI] Buildkite integration tests: Run integration tests on ARM (#5956)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess_start.sh
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  test_infra/ess/deployment.tf
Owners: @elastic/ingest-eng-prod, @elastic/elastic-agent-control-plane

K8S version
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Owners: @elastic/obs-cloudnative-monitoring

Revert "Skip TestAPMConfig for now (#5891)" (#5993)
  testing/integration/apm_propagation_test.go
Owners: @elastic/elastic-agent-control-plane

[helm] add envFrom in agent preset (#5992)
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

[helm] add envFrom in agent preset (#5992)
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

[helm] add envFrom in agent preset (#5992)
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

feat: implement support for creating services for agent presets
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/service.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

Update catalog file with correct system property
  catalog-info.yaml
Owners: @elastic/ingest-eng-prod

fix: allow disabling cluster role creation without needing to specify an existing one
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

fix: fallback to default service account when creation is disabled and no existing one is specified
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

fix: update nginx custom integration to disable all k8s agent providers
  deploy/helm/elastic-agent/examples/nginx-custom-integration/README.md
  deploy/helm/elastic-agent/examples/nginx-custom-integration/agent-nginx-values.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
Owners: @elastic/elastic-agent-control-plane

Add `os_family`, `os_platform` and `os_version` to host provider (#5941)
  changelog/fragments/1730986549-Add-os_family,-os_platform-and-os_version-to-host-provider.yaml
  internal/pkg/composable/providers/host/host.go
  internal/pkg/composable/providers/host/host_test.go
Owners: @elastic/elastic-agent-control-plane

Add `os_family`, `os_platform` and `os_version` to host provider (#5941)
  changelog/fragments/1730986549-Add-os_family,-os_platform-and-os_version-to-host-provider.yaml
  internal/pkg/composable/providers/host/host.go
  internal/pkg/composable/providers/host/host_test.go
Owners: @elastic/elastic-agent-control-plane

[helm] fix disabling cluster role and service account (#6004)
  deploy/helm/elastic-agent/examples/nginx-custom-integration/README.md
  deploy/helm/elastic-agent/examples/nginx-custom-integration/agent-nginx-values.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

support for mac and unix
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/privileged.go
  internal/pkg/agent/cmd/unprivileged.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/prereq.go
  internal/pkg/agent/install/switch.go
Owners: @elastic/elastic-agent-control-plane

[helm] fix disabling cluster role and service account (#6004)
  deploy/helm/elastic-agent/examples/nginx-custom-integration/README.md
  deploy/helm/elastic-agent/examples/nginx-custom-integration/agent-nginx-values.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

[helm] fix disabling cluster role and service account (#6004)
  deploy/helm/elastic-agent/examples/nginx-custom-integration/README.md
  deploy/helm/elastic-agent/examples/nginx-custom-integration/agent-nginx-values.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/cluster-role-binding.yaml
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
Owners: @elastic/elastic-agent-control-plane

fix: resolve conflicts
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
Owners: @elastic/elastic-agent-control-plane

fix: resolve conflicts
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
Owners: @elastic/elastic-agent-control-plane

Cleanup
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/install-go.ps1
Owners: @elastic/ingest-eng-prod

Cleanup
  .buildkite/bk.integration.pipeline.yml
Owners: @elastic/ingest-eng-prod

enhancement(5320): added integration test and package policy template
  testing/integration/custom_log_package.json.tmpl
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): remove duplicate force flag
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane

enhancement(5320): updated struct
  testing/integration/escaping_secrets_in_policy_test.go
Owners: @elastic/elastic-agent-control-plane
