Repository elastic/elastic-agent, pull requests merged in 2023-10, with the labels that each got.

#2941 Add Windows support to integration testing runner
  .buildkite/scripts/steps/integration_tests.sh
  Makefile
  internal/pkg/agent/cmd/watch.go
  make.bat
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/ogc/provisioner.go
  pkg/testing/ogc/supported.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/ssh.go
  pkg/testing/runner/supported.go
  pkg/testing/runner/windows.go
  pkg/testing/tools/cmd.go
  pkg/testing/tools/tools.go
  testing/integration/endpoint_security_test.go
  testing/integration/fqdn_test.go
  testing/integration/install_test.go
  testing/integration/monitoring_logs_test.go
  testing/integration/upgrade_rollback_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#3505 Add changelog for default ES compression
  changelog/fragments/1696361138-es-default-compression.yaml
Labels: Team:Elastic-Agent, backport-skip, docs

#3508 Revert "[Feature] Secondary fallback for package signature verification (#3453) (#3497)
  changelog/fragments/1695289867-Secondary-fallback-for-package-signature-verification.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/remote/client.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog

#3509 Revert "[Feature] Secondary fallback for package signature verificati…on (#3453)
  changelog/fragments/1695289867-Secondary-fallback-for-package-signature-verification.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/remote/client.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#3513 Temporarily set the version to 8.10.2 and switch ESS region to run integration tests
  .buildkite/scripts/steps/integration_tests.sh
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3515 backport: Add 8.11 branch
  .mergify.yml
Labels: Team:Automation, impact:critical, release, skip-changelog, backport-v8.11.0

#3523 update kubernetes deploy yaml to match `make check` output
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Labels: bug, Team:Elastic-Agent, skip-changelog

#3517 Un-hide `--base-path` install flag
  internal/pkg/agent/cmd/install.go
  testing/integration/install_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3212 Improve `elastic-agent install` performance
  NOTICE.txt
  changelog/fragments/1693592658-concurrent-install.yaml
  go.mod
  go.sum
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip

#3514 Bump the version on main to 8.11.0
  version/version.go
Labels: backport-skip, skip-changelog

#3510 Fix version detection in cloud first testing makefile
  testing/environments/cloud/Makefile
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, Testing, backport-v8.10.0, backport-v8.11.0

#3493 Increase sleep time for install progress tests
  internal/pkg/agent/install/progress_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, backport-skip, skip-changelog

#3378 Refactor pkg/testing and small improvements to testing/integration
  pkg/component/runtime/manager_test.go
  pkg/testing/fixture_install.go
  pkg/testing/tools/artifacts_api.go
  pkg/testing/tools/check/check.go
  pkg/testing/tools/cmd.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/fleettools/fleet.go
  pkg/testing/tools/tools.go
  testing/integration/diagnostics_test.go
  testing/integration/endpoint_security_test.go
  testing/integration/fqdn_test.go
  testing/integration/monitoring_logs_test.go
  testing/integration/proxy_url_test.go
  testing/integration/upgrade_fleet_test.go
Labels: enhancement, Team:Elastic-Agent, skip-changelog, 8.11-candidate, backport-v8.10.0

#3526 make delayed progress tests more resilient
  internal/pkg/agent/install/progress_test.go
Labels: bug, Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3545 Update integ tests doc after moving to ESS staging
  docs/test-framework-dev-guide.md
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, Testing, backport-v8.10.0, backport-v8.11.0

#3207 install fails if enroll fails and surface errors
  changelog/fragments/1693403216-Surface-errors-during-Agent's-enroll.yaml
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/perms_unix.go
Labels: bug, Team:Elastic-Agent, backport-v8.11.0

#3537 Avoid data race by calling forceCompState only on commandRuntime.Run
  pkg/component/runtime/command.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/state.go
Labels: bug, Team:Elastic-Agent, skip-changelog, v8.12.0, backport-v8.11.0

#3553 Revert "install fails if enroll fails and surface errors"
  changelog/fragments/1693403216-Surface-errors-during-Agent's-enroll.yaml
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/perms_unix.go
Labels: backport-skip

#3492 [Feature] Start/stop monitoring server based on monitoring config
  changelog/fragments/1696249276-Start-stop-monitoring-server-based-on-monitoring-config.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/monitoring/reload/reload.go
  internal/pkg/agent/application/monitoring/reload/reload_test.go
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/agent/cmd/run.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#3416 Support Hints per container input
  changelog/fragments/1694692246-hintspercontainer.yaml
  internal/pkg/composable/providers/kubernetes/hints.go
  internal/pkg/composable/providers/kubernetes/hints_test.go
Labels: backport-skip

#3549 adjust timeouts so tests have better chance of succeeding
  internal/pkg/agent/application/coordinator/coordinator_test.go
Labels: bug, Team:Elastic-Agent, flaky-test, skip-changelog, backport-v8.11.0

#3532 Ironbank ubi image to 8.8
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3567 UBI image to 9.2
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3568 Channgelog for 8.10.3
  changelog/8.10.3.asciidoc
  changelog/8.10.3.yaml
  changelog/fragments/1694700201-gpg-unreachable-url-fix.yaml
  changelog/fragments/1695035111-Resilient-handling-of-air-gapped-PGP-checks.yaml
  changelog/fragments/1695050880-Improve-retry-strategy-when-uninstalling-agent.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3569 docs: update docs versions 8.10.3
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#3548 Replace timer with ticker in download progress reporter
  changelog/fragments/1696530758-bugfix-upgrade-progress-reporter.yaml
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
Labels: Team:Elastic-Agent, >bug, backport-v8.11.0

#3571 Minor fixes to apm fake component and integration test
  pkg/component/fake/component/comp/apm.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog, Testing

#3570 [Release] Update version to 8.10.4
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3583 Revert "[Feature] Start/stop monitoring server based on monitoring config"
  changelog/fragments/1696249276-Start-stop-monitoring-server-based-on-monitoring-config.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/monitoring/reload/reload.go
  internal/pkg/agent/application/monitoring/reload/reload_test.go
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/agent/cmd/run.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#3585 Fix typo in the GPG FS verifier warn message
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3564 [Automation] Bump Golang version to 1.20.9
  .github/workflows/govulncheck.yml
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1697111928-upgrade-to-go-1.20.9.yaml
  version/docs/version.asciidoc
Labels: Team:Elastic-Agent, backport-v8.11.0

#3587 Remove govulincheck from github actions
  .ci/bump-golang.yml
  .github/workflows/govulncheck.yml
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3578 Increase metrics interval to 60s
  changelog/fragments/1696955150-Slow-down-agent-monitoring-metrics-interval-to-60s.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip

#3593 [backport 8.11]Elastic-agent-autodiscover to v0.6.4
  NOTICE.txt
  changelog/fragments/1697103197-updating_agentautodiscovery_811.yaml
  go.mod
  go.sum
Labels: Team:Cloudnative-Monitoring

#3542 Refactoring HTTP downloader progress reporter to accept multiple observers
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/progress_observer.go
  internal/pkg/agent/application/upgrade/artifact/download/http/progress_reporter.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
Labels: Team:Elastic-Agent, backport-skip, refactoring, skip-changelog

#3580 Add warning messages to magefile for version mismatches in beats
  magefile.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3591 [backport 8.10] Elastic-agent-autodiscover to v0.6.4
  NOTICE.txt
  changelog/fragments/1697102363-updating_agentautodiscovery_810.yaml
  go.mod
  go.sum
Labels: Team:Cloudnative-Monitoring

#3547 ESS Staging integ test improvements
  pkg/testing/ess/create_deployment_csp_configuration.yaml
  pkg/testing/ess/create_deployment_request.tmpl.json
  pkg/testing/ess/deployment.go
  pkg/testing/ess/provisioner.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, Testing, backport-v8.10.0, backport-v8.11.0

#3601 [Automation] Bump Golang version to 1.20.10
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1697229987-Upgrade-to-Go-1.20.10.yaml
  version/docs/version.asciidoc
Labels: Team:Elastic-Agent, backport-v8.10.0, backport-v8.11.0

#3563 Remove the agent version override in tests.
  .buildkite/scripts/steps/integration_tests.sh
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader_test.go
  pkg/testing/tools/artifacts_api.go
  testing/integration/upgrade_rollback_test.go
  testing/upgradetest/versions.go
  testing/upgradetest/versions_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3576 [Fix] Agent incapable of running on Azure Container Instances
  changelog/fragments/1689328899-Elastic-Agent-container-runs-on-Azure-Container-Instances-.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-v8.11.0

#3606 Changelog for 8.10.4
  changelog/8.10.4.asciidoc
  changelog/8.10.4.yaml
  changelog/fragments/1695289867-Secondary-fallback-for-package-signature-verification.yaml
  changelog/fragments/1697102363-updating_agentautodiscovery_810.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3554 install fails if enroll fails and surface errors
  changelog/fragments/1693403216-Surface-errors-during-Agent's-enroll.yaml
  dev-tools/mage/godaemon.go
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/perms_unix.go
Labels: bug, Team:Elastic-Agent, backport-v8.11.0

#3603 [Release] Update version to 8.10.5
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3630 Revert "[8.11](backport #3554) install fails if enroll fails and surface errors"
  changelog/fragments/1693403216-Surface-errors-during-Agent's-enroll.yaml
  dev-tools/mage/godaemon.go
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/perms_unix.go
Labels: Team:Elastic-Agent, skip-changelog

#3629 Revert "install fails if enroll fails and surface errors"
  changelog/fragments/1693403216-Surface-errors-during-Agent's-enroll.yaml
  dev-tools/mage/godaemon.go
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/perms_unix.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3632 upgrade elastic-agent-libs to v0.6.0
  NOTICE.txt
  changelog/fragments/1697662109-upgrade-elastic-agent-libs-to-v0.6.0.yaml
  go.mod
  go.sum
Labels: bug, Team:Elastic-Agent-Data-Plane, backport-v8.11.0

#3622 Change upgrade watcher to use StateWatch
  NOTICE.txt
  changelog/fragments/1697554456-Improve-upgrade-watcher-to-no-longer-need-root-access.yaml
  control_v2.proto
  go.mod
  go.sum
  internal/pkg/agent/application/upgrade/crash_checker.go
  internal/pkg/agent/application/upgrade/crash_checker_test.go
  internal/pkg/agent/application/upgrade/error_checker.go
  internal/pkg/agent/application/upgrade/rollback_darwin.go
  internal/pkg/agent/application/upgrade/rollback_linux.go
  internal/pkg/agent/application/upgrade/rollback_windows.go
  internal/pkg/agent/application/upgrade/service.go
  internal/pkg/agent/application/upgrade/service_darwin.go
  internal/pkg/agent/application/upgrade/service_windows.go
  internal/pkg/agent/application/upgrade/watcher.go
  internal/pkg/agent/application/upgrade/watcher_test.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/agent/configuration/upgrade.go
  internal/pkg/agent/install/install.go
  pkg/control/v1/proto/control_v1.pb.go
  pkg/control/v1/proto/control_v1_grpc.pb.go
  pkg/control/v2/client/client.go
  pkg/control/v2/client/dial.go
  pkg/control/v2/client/dial_windows.go
  pkg/control/v2/client/mocks/client.go
  pkg/control/v2/cproto/control_v2.pb.go
  pkg/control/v2/cproto/control_v2_grpc.pb.go
  pkg/control/v2/server/server.go
  testing/integration/upgrade_rollback_test.go
  testing/upgradetest/upgrader.go
  testing/upgradetest/watcher.go
Labels: Team:Elastic-Agent, backport-skip

#3575 [Hints Support] Add default host
  changelog/fragments/1696935756-add-default-host.yaml
  internal/pkg/composable/providers/kubernetes/hints.go
  internal/pkg/composable/providers/kubernetes/hints_test.go
  internal/pkg/composable/providers/kubernetes/pod.go
Labels: enhancement, Team:Elastic-Agent, Team:Cloudnative-Monitoring, backport-skip

#3527 Track upgrade details
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/progress_observer.go
  internal/pkg/agent/application/upgrade/artifact/download/http/progress_observer_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/localremote/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader.go
  internal/pkg/agent/application/upgrade/details/details.go
  internal/pkg/agent/application/upgrade/details/details_test.go
  internal/pkg/agent/application/upgrade/details/state.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#3635 Update go grpc version to 1.58.3
  NOTICE.txt
  go.mod
  go.sum
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, backport-v8.9.0, backport-v8.10.0, backport-v8.11.0

#3556 Fixing script to read ascii code
  deploy/kubernetes/Makefile
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Labels: backport-skip, skip-changelog

#3482 Fix double stop components
  changelog/fragments/1695920792-Prevent-multiple-stops-of-services.yaml
  pkg/component/runtime/manager.go
  pkg/component/runtime/runtime.go
  pkg/component/runtime/service.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-v8.11.0

#3503 Add assetbeat as external component
  changelog/fragments/1696319263-add-assetbeat-dependency.yaml
  dev-tools/mage/manifest/manifest.go
  magefile.go
Labels: Team:Elastic-Agent, backport-v8.11.0

#3486 Update serverless support in integration tests, expand test tooling, add support for beats testing
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/integration_tests.sh
  magefile.go
  pkg/testing/define/define.go
  pkg/testing/ess/provisioner.go
  pkg/testing/ess/serverless.go
  pkg/testing/ess/serverless_provision.go
  pkg/testing/fetcher_local.go
  pkg/testing/fixture.go
  pkg/testing/runner/config.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/runner_test.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/kibana.go
  testing/integration/monitoring_logs_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3623 Use third-party library for reporting install/uninstall progress
  NOTICE.txt
  changelog/fragments/1697565877-progress-race-fixes.yaml
  go.mod
  go.sum
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/progress.go
  internal/pkg/agent/install/progress_test.go
  internal/pkg/agent/install/uninstall.go
Labels: Team:Elastic-Agent, backport-skip

#3663 Update Ironbank contacts
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Labels: backport-skip, skip-changelog

#3657 Increase the Windows OnFailureDelayDuration delay to 15s
  changelog/fragments/1698259940-Increase-wait-period-between-service-restarts-on-failure-to-15s-on-Windows.yaml
  internal/pkg/agent/install/svc.go
Labels: Team:Elastic-Agent, backport-v8.11.0

#3662 Disable exposing metrics server on all interfaces
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/core/monitoring/config/config.go
  internal/pkg/core/monitoring/config/config_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3655 [Heartbeat] Bump Node to 18.18
  changelog/fragments/1698247934-hb-bump-node.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: bug, Team:Elastic-Agent, Team:Uptime, v8.11.0, backport-v8.11.0

#3584 [Feature] Start/stop monitoring server based on monitoring config
  changelog/fragments/1696249276-Start-stop-monitoring-server-based-on-monitoring-config.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/monitoring/reload/reload.go
  internal/pkg/agent/application/monitoring/reload/reload_test.go
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/agent/cmd/run.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#3653 Failing to detect SSDs in copyDir should not be a fatal error.
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3573 [CI] Pull requests migration to buildkite
  .buildkite/hooks/post-checkout.ps1
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/common.sh
  .buildkite/scripts/steps/merge.sh
  .buildkite/scripts/steps/unit-tests.ps1
  .buildkite/scripts/steps/unit-tests.sh
  .ci/Jenkinsfile
  .github/workflows/macos.yml
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: enhancement, backport-skip, skip-changelog

#3656 Miscellaneous fixes for agent testing and build processes
  magefile.go
  pkg/testing/ess/deployment.go
  pkg/testing/ess/serverless_provision.go
  pkg/testing/runner/runner.go
  pkg/testing/tools/tools.go
  testing/integration/endpoint_security_test.go
Labels: bug, Team:Elastic-Agent, backport-skip, skip-changelog
