Repository elastic/elastic-agent, pull requests merged in 2023-12, with the labels that each got.

#3778 Elastic Agent ACI compliant image
  changelog/fragments/1689328899-Elastic-Agent-container-runs-on-Azure-Container-Instances-.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#3830 Integration tests: Added 2 hours simeout for gotesst
  .buildkite/pipeline.yml
  magefile.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog, backport-v8.11.0

#3837 [Upgrade Details] Inform the Upgrade Marker Watcher when an upgrade starts
  internal/pkg/agent/application/upgrade/marker_watcher.go
  internal/pkg/agent/application/upgrade/marker_watcher_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3836 [Upgrade Details] For critical state transitions, fsync upgrade marker file
  internal/pkg/agent/application/upgrade/marker_access_common.go
  internal/pkg/agent/application/upgrade/marker_access_other.go
  internal/pkg/agent/application/upgrade/marker_access_test.go
  internal/pkg/agent/application/upgrade/marker_access_windows.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/watch.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3772 Add mage notice target
  Makefile
  dev-tools/mage/target/common/notice.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#3861 ironbank: enable /usr/bin/tini
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3731 Fix TestManager_FakeInput_APM
  pkg/component/runtime/manager_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, backport-v8.11.0

#3863 Update CLI documentation for `--path.install`
  internal/pkg/agent/application/paths/common.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3874 Bump the version on main to 8.12.0
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Labels: backport-skip, skip-changelog

#3875 backport: Add 8.12 branch
  .mergify.yml
Labels: Team:Automation, impact:critical, release, skip-changelog, backport-v8.12.0

#3880 Changelog for 8.11.2
  changelog/8.11.2.asciidoc
  changelog/8.11.2.yaml
  changelog/fragments/1698247934-hb-bump-node.yaml
  changelog/fragments/1698808222-orphan-verbs.yaml
  changelog/fragments/1699010487-leaderelectionconfig.yaml
  changelog/fragments/1700000391-Upgrade-to-Go-1.20.11.yaml
  changelog/fragments/1700678892-Fixes-the-Elastic-Agent-ignoring-agent.download.proxy_url-on-policy-update.yaml
  changelog/fragments/1701208315-custom-yaml-marshal-for-component.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3878 [Release] Update version to 8.11.3
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3877 docs: update docs versions 8.11.2
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#3879 Update changelog and configs for performance presets
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/config/elastic-agent.docker.yml.tmpl
  changelog/fragments/1701882851-performance-presets.yaml
  elastic-agent.docker.yml
  elastic-agent.reference.yml
  elastic-agent.yml
Labels: Team:Elastic-Agent, docs, backport-v8.12.0

#3898 Changelog for version 8.11.3
  changelog/8.11.3.asciidoc
  changelog/8.11.3.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3894 [Release] Update version to 8.11.4
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3916 download current agent version to upgrade to
  testing/integration/upgrade_fleet_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, backport-v8.12.0

#3911 Re-enable TestFQDN
  pkg/testing/tools/testcontext/testcontext.go
  testing/integration/fqdn_test.go
Labels: Team:Elastic-Agent, Cleanup, skip-changelog, Testing, backport-v8.12.0

#3893 docs: update docs versions 8.11.3
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#3822 [Kubernetes secret provider] Add cache for the secrets
  changelog/fragments/1701091034-add-cache-for-secrets.yaml
  internal/pkg/composable/providers/kubernetessecrets/config.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets_test.go
Labels: enhancement, Team:Elastic-Agent, Team:Cloudnative-Monitoring, backport-skip

#3892 Add missing contexts (and therefore timeouts) to integration test code
  magefile.go
  pkg/testing/ess/serverless.go
  pkg/testing/ess/serverless_provisioner.go
  pkg/testing/ess/serverless_test.go
  pkg/testing/fixture.go
  pkg/testing/machine.go
  pkg/testing/machine_test.go
  pkg/testing/tools/check/check.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/fleettools/fleet.go
  pkg/testing/tools/tools.go
  testing/integration/apm_propagation_test.go
  testing/integration/diagnostics_test.go
  testing/integration/endpoint_security_test.go
  testing/integration/fqdn_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/package_version_test.go
  testing/integration/proxy_url_test.go
  testing/integration/upgrade_fleet_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.11.0, backport-v8.12.0

#3924 Fix VCS errors in daily serverless tests
  .buildkite/scripts/steps/beats_tests.sh
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3827 [Upgrade Details] Ensure details report `UPG_WATCHING` for the entire time that the upgrade is being watched
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/upgrade/marker_watcher.go
  internal/pkg/agent/application/upgrade/marker_watcher_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/agent/cmd/watch_test.go
  pkg/testing/fixture.go
  testing/integration/upgrade_downgrade_test.go
  testing/integration/upgrade_rollback_test.go
  testing/upgradetest/upgrader.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.12.0

#3800 Embedded Otel Collector into Agent
  NOTICE.txt
  dev-tools/packaging/packages.yml
  go.mod
  go.sum
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/cmd/common.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/components.go
  internal/pkg/otel/config_file_provider.go
  internal/pkg/otel/config_file_provider_test.go
  internal/pkg/otel/run.go
  internal/pkg/otel/run_test.go
  internal/pkg/otel/testdata/otel.yml
  internal/pkg/otel/testdata/otlp.yml
  otel.yml
  pkg/testing/define/define.go
  pkg/testing/fixture.go
  pkg/testing/log_watcher.go
  pkg/testing/tools/estools/elasticsearch.go
  testing/integration/otel_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#3932 Skip APM propagation test on Windows.
  testing/integration/apm_propagation_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.12.0

#3895 Add PR guidelines to the CONTRIBUTING.md guide.
  CONTRIBUTING.md
  README.md
Labels: documentation, Team:Elastic-Agent, backport-skip, skip-changelog

#3941 Endpoint outputs should be the same on Windows, Mac, and Linux
  specs/endpoint-security.spec.yml
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.12.0

#3948 [Upgrade Details] Fix corruption when writing upgrade marker file
  internal/pkg/agent/application/upgrade/marker_access_common.go
  internal/pkg/agent/application/upgrade/marker_access_common_test.go
Labels: bug, Team:Elastic-Agent, skip-changelog, backport-v8.12.0

#3938 Bump elastic-agent-autodiscover version
  NOTICE.txt
  changelog/fragments/1703157372-a-changeset-filename.yaml
  go.mod
  go.sum
Labels: backport-v8.11.0, backport-v8.12.0

#3956 Update `NOTICE.txt`
  NOTICE.txt
Labels: backport-skip, skip-changelog

#3885 [Automation] Bump Golang version to 1.20.12
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1702055473-Upgrade-to-Go-1.20.12.yaml
  version/docs/version.asciidoc
Labels: backport-v8.11.0, backport-v8.12.0

#3965 Skip flaky test TestCheckPlatformCompat
  internal/pkg/agent/cmd/platformcheck_test.go
Labels: backport-skip, skip-changelog

#3953 Safe rotate upgrade marker file whenever it's written
  internal/pkg/agent/application/upgrade/marker_access_common.go
  internal/pkg/agent/application/upgrade/marker_access_common_test.go
  internal/pkg/agent/application/upgrade/marker_access_test.go
  internal/pkg/agent/application/upgrade/marker_access_windows.go
Labels: bug, Team:Elastic-Agent, skip-changelog, backport-v8.12.0
