Repository elastic/elastic-agent, pull requests merged in 2023-11, with the labels that each got.

#3681 [Buildkite][Integration tests] Change ESS region to `aws-eu-central-1`
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yml
  magefile.go
  pkg/testing/ess/deployment.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3685 prevent data race in testing artifact fetcher
  pkg/testing/fetcher_artifact.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3696 Fix TestManager_FakeInput_GoodUnitToBad
  pkg/component/runtime/manager_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, backport-v8.11.0

#3624 Include upgrade details in diagnostics bundle during ongoing upgrade
  changelog/fragments/1697588586-upgrade-details-in-diagnostics.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/upgrade/details/details.go
  internal/pkg/agent/application/upgrade/step_download.go
Labels: enhancement, Team:Elastic-Agent, backport-skip

#3676 [Tests] Update K8s version for 1.28 compatibility
  .ci/Jenkinsfile
Labels: backport-skip, skip-changelog

#3668 Update endpoint package version on tests
  testing/integration/endpoint_security_test.go
  testing/integration/upgrade_fleet_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3615 Include upgrade details in output of `elastic-agent status` during ongoing upgrade
  changelog/fragments/1697508156-upgrade-details-in-status.yaml
  control_v2.proto
  internal/pkg/agent/application/upgrade/details/details_test.go
  internal/pkg/agent/cmd/status.go
  internal/pkg/agent/cmd/status_test.go
  pkg/control/v1/proto/control_v1.pb.go
  pkg/control/v1/proto/control_v1_grpc.pb.go
  pkg/control/v2/client/client.go
  pkg/control/v2/cproto/control_v2.pb.go
  pkg/control/v2/cproto/control_v2_grpc.pb.go
  pkg/control/v2/server/server.go
  pkg/control/v2/server/server_test.go
  sonar-project.properties
Labels: enhancement, Team:Elastic-Agent, backport-skip

#3673 Fix wrong logging for wrong fleet api version response
  internal/pkg/remote/client.go
Labels: Team:Elastic-Agent-Control-Plane, Cleanup, skip-changelog, backport-v8.11.0

#3626 Add component.{id, binary} to monitoring metrics
  changelog/fragments/1697735373-Add-component-fields-to-metrics.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Labels: Team:Elastic-Agent, backport-v8.11.0

#3691 ironbank: move to ubi9
  .ci/Jenkinsfile
  dev-tools/dependencies-report
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Labels: Team:Elastic-Agent, ci:package, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3688 Clean up Agent Coordinator and manager shutdown logic
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
Labels: Team:Elastic-Agent, backport-skip, Cleanup, skip-changelog

#3682 Use only fs.NewDownloader for file://.
  changelog/fragments/1698851635-Only-try-to-download-upgrade-locally-when-file---prefix-is-used-for-source-URI.yaml
  internal/pkg/agent/application/upgrade/step_download.go
Labels: Team:Elastic-Agent, backport-skip

#3690 [Upgrade Details] When state is set to something other than `StateFailed`, clear related metadata fields
  internal/pkg/agent/application/upgrade/details/details.go
  internal/pkg/agent/application/upgrade/details/details_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3712 [8.11] Revert "[Fix] Agent incapable of running on Azure Container Instances…
  changelog/fragments/1689328899-Elastic-Agent-container-runs-on-Azure-Container-Instances-.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: Team:Elastic-Agent, skip-changelog

#3516 [Release] Update version to 8.11.1
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3723 Revert "[Fix] Agent incapable of running on Azure Container Instances…
  changelog/fragments/1689328899-Elastic-Agent-container-runs-on-Azure-Container-Instances-.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3465 Support flattened data_stream.* fields
  .buildkite/pipeline.yml
  changelog/fragments/1695389490-Support-flattened-data_stream.-fields.yaml
  pkg/component/component_test.go
  pkg/component/config.go
  pkg/component/config_test.go
  pkg/testing/fixture.go
  pkg/testing/tools/estools/elasticsearch.go
  testing/integration/logs_ingestion_test.go
  testing/integration/monitoring_logs_test.go
Labels: Team:Elastic-Agent, backport-skip

#3722 Changelog for 8.11.0
  changelog/8.11.0.asciidoc
  changelog/8.11.0.yaml
  changelog/fragments/1691060806-Processor-support-for-hints-autodiscover.yaml
  changelog/fragments/1693427183-install-progress.yaml
  changelog/fragments/1693813219-log-command-colors.yaml
  changelog/fragments/1693920861-netinfo-manifests.yaml
  changelog/fragments/1694187216-Uninstall-finds-and-kills-any-running-watcher-process.yaml
  changelog/fragments/1694439479-fix_creatork8sscript.yaml
  changelog/fragments/1695685534-standalone-prevent-quick-upgrades.yaml
  changelog/fragments/1695780865-Enable-tamper-protection-feature-flag-by-default-for-Agent-8.11.0.yaml
  changelog/fragments/1695920792-Prevent-multiple-stops-of-services.yaml
  changelog/fragments/1696319263-add-assetbeat-dependency.yaml
  changelog/fragments/1696361138-es-default-compression.yaml
  changelog/fragments/1696530758-bugfix-upgrade-progress-reporter.yaml
  changelog/fragments/1696955150-Slow-down-agent-monitoring-metrics-interval-to-60s.yaml
  changelog/fragments/1697103197-updating_agentautodiscovery_811.yaml
  changelog/fragments/1697229987-Upgrade-to-Go-1.20.10.yaml
  changelog/fragments/1697662109-upgrade-elastic-agent-libs-to-v0.6.0.yaml
  changelog/fragments/1698259940-Increase-wait-period-between-service-restarts-on-failure-to-15s-on-Windows.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3680 [CI]Buildkite k8s tests migration
  .buildkite/pipeline.yml
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/install-kubectl.sh
  .buildkite/scripts/steps/k8s-tests.sh
  .buildkite/scripts/steps/unit-tests.sh
  .ci/Jenkinsfile
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3598 [Non-Root] Add support for running without root permissions on Linux
  internal/pkg/agent/application/info/state.go
  internal/pkg/agent/application/info/state_unix.go
  internal/pkg/agent/application/info/state_windows.go
  internal/pkg/agent/application/paths/paths.go
  internal/pkg/agent/application/paths/paths_darwin.go
  internal/pkg/agent/application/paths/paths_windows.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install_enroll.go
  internal/pkg/agent/cmd/install_enroll_windows.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_unix.go
  internal/pkg/agent/install/install_windows.go
  internal/pkg/agent/install/installed.go
  internal/pkg/agent/install/perms_unix.go
  internal/pkg/agent/install/perms_windows.go
  internal/pkg/agent/install/svc.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/user.go
  internal/pkg/agent/install/user_darwin.go
  internal/pkg/agent/install/user_linux.go
  internal/pkg/agent/install/user_windows.go
  internal/pkg/agent/vault/vault_windows.go
  pkg/control/addr.go
  pkg/control/v2/server/listener.go
  pkg/control/v2/server/listener_windows.go
  pkg/core/logger/logger.go
  pkg/testing/fixture_install.go
  pkg/utils/perm_unix.go
  pkg/utils/perm_windows.go
  pkg/utils/root_unix.go
  testing/integration/install_unprivileged_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3700 [CI] Buildkite migration for Windows 10/11
  .buildkite/pipeline.yml
  .ci/Jenkinsfile
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#3740 Remove duplicate tags
  changelog/fragments/1697662209-duplicate-tags.yaml
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
Labels: Team:Elastic-Agent, backport-skip

#3742 [CI] run MacOS 13 ARM unit tests only on main branch
  .buildkite/pipeline.yml
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.10.0, backport-v8.11.0

#3625 Adding config variables to leader_election provider
  changelog/fragments/1699010487-leaderelectionconfig.yaml
  internal/pkg/composable/providers/kubernetesleaderelection/config.go
  internal/pkg/composable/providers/kubernetesleaderelection/kubernetes_leaderelection.go
Labels: backport-v8.10.0, backport-v8.11.0

#3753 [Release] Update version to 8.11.2
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3750 [EA standalone] Add state_namespace data stream by default to the manifests
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-ksm-statefulset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-ksm-statefulset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-ksm-statefulset-configmap.yaml
Labels: Team:Cloudnative-Monitoring, skip-changelog, v8.11.0, backport-v8.11.0

#3752 docs: update docs versions 8.11.1
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#3739 Remove assetbeat as dependency
  dev-tools/mage/manifest/manifest.go
  magefile.go
Labels: skip-changelog, backport-v8.11.0

#3701 Switch to CFT region and add more robust tracking and cleanup of stacks.
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yml
  magefile.go
  pkg/testing/ess/config.go
  pkg/testing/ess/provisioner.go
  pkg/testing/ess/serverless.go
  pkg/testing/ess/serverless_provision.go
  pkg/testing/ess/serverless_test.go
  pkg/testing/runner/provisioner.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/runner_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3714 multipass: ensure instance does not exist
  pkg/testing/multipass/provisioner.go
  testing/integration/logs_ingestion_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#3751 Changelog for 8.11.1
  changelog/8.11.1.asciidoc
  changelog/8.11.1.yaml
  changelog/fragments/1697735373-Add-component-fields-to-metrics.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3766 Update pgp-workaround.md
  docs/pgp-workaround.md
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3679 internal/pkg/agent/application/coordinator: fix logging calls
  changelog/fragments/1698808222-orphan-verbs.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
Labels: bug, Team:Elastic-Agent, 8.12-candidate, backport-v8.11.0

#3748 [Automation] Bump Golang version to 1.20.11
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1700000391-Upgrade-to-Go-1.20.11.yaml
  version/docs/version.asciidoc
Labels: Team:Elastic-Agent, backport-v8.11.0

#3757 [Upgrade Details] Implement tracking of `UPG_SCHEDULED` state
  internal/pkg/agent/application/dispatcher/dispatcher.go
  internal/pkg/agent/application/dispatcher/dispatcher_test.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/application/managed_mode_test.go
  internal/pkg/agent/application/upgrade/details/details.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#3734 Fix runner/provisioners to account for the provision r when comparing instances and stacks
  magefile.go
  pkg/testing/ess/serverless_provisioner.go
  pkg/testing/ess/serverless_test.go
  pkg/testing/ess/statful_provisioner.go
  pkg/testing/multipass/provisioner.go
  pkg/testing/ogc/provisioner.go
  pkg/testing/runner/provisioner.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/runner_test.go
Labels: bug, Team:Elastic-Agent, flaky-test, backport-skip, skip-changelog

#3528 Send upgrade details to Fleet Server in check-in API requests
  NOTICE.txt
  changelog/fragments/1699016628-send-upgrade-details-to-fleet.yaml
  go.mod
  go.sum
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/agent/application/upgrade/details/details.go
  internal/pkg/fleetapi/checkin_cmd.go
  pkg/control/v2/server/server.go
  pkg/control/v2/server/server_test.go
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/upgrade_fleet_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip

#3747 Rework runtime manager updates to block the coordinator less
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_test.go
Labels: bug, Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3762 Sync k8s migtraion to buildkite
  .buildkite/pipeline.yml
  .buildkite/scripts/install-gh.sh
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/steps/sync-k8s.sh
  deploy/kubernetes/Makefile
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3759 Migrate check-ci step to buildkite
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/check-ci.sh
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3658 Add serverless beats tests
  .buildkite/pipeline.yml
  .buildkite/scripts/common.sh
  .buildkite/scripts/steps/beats_tests.sh
  magefile.go
  pkg/testing/tools/estools/elasticsearch.go
  testing/integration/beats_serverless_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3793 [Upgrade Details] Use `details.DownloadRate` type from elastic-agent-libs
  NOTICE.txt
  go.mod
  go.sum
  internal/pkg/agent/application/upgrade/details/details.go
  internal/pkg/agent/application/upgrade/details/details_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3781 Log some useful details during startup
  internal/pkg/agent/application/application.go
  pkg/component/runtime/manager.go
Labels: Team:Elastic-Agent, Cleanup, skip-changelog, backport-v8.11.0

#3787 ironbank: use ubi:9.3
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Labels: Team:Elastic-Agent, automation, skip-changelog, backport-v8.11.0

#3786 Limit batchID length.
  pkg/testing/runner/runner.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3780 [CI] Strict unit test artifact paths. Removes TEST-go-unit-cov.xml from artifacts
  .buildkite/pipeline.yml
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.11.0

#3805 Change the default FLEET_INSECURE values in Kubernetes templates to false
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-managed/elastic-agent-managed-daemonset.yaml
Labels: backport-skip, skip-changelog

#3799 [Non-Root] Hide --unprivileged installation flag until supported
  internal/pkg/agent/cmd/install.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3790 ironbank: rename ubi9 to ubi image
  dev-tools/packaging/packages.yml
Labels: backport-skip, skip-changelog

#3724 Add upgrade test on an air-gapped environment
  internal/pkg/composable/providers/host/host_test.go
  pkg/testing/fetcher.go
  pkg/testing/fetcher_artifact.go
  pkg/testing/fetcher_artifact_test.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/multipass/provisioner.go
  pkg/testing/ogc/provisioner.go
  pkg/testing/runner/provisioner.go
  pkg/testing/runner/runner_test.go
  pkg/testing/tools/artifacts_api.go
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/upgrade_downgrade_test.go
  testing/integration/upgrade_fleet_test.go
  testing/upgradetest/upgrader.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3828 Revert jenkins removal
  .ci/bump-golang.yml
  .ci/scripts/install-go.bat
  .ci/scripts/install-go.sh
Labels: backport-skip, skip-changelog

#3765 Fix index pattern when querying ES and condition when searching logs
  pkg/testing/tools/estools/elasticsearch.go
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3544 Add ability to split integration tests into different groups
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/define/batch.go
  pkg/testing/define/batch_test.go
  pkg/testing/define/requirements.go
  pkg/testing/define/testdata/sample_test.go
  pkg/testing/ogc/provisioner.go
  pkg/testing/runner/config.go
  pkg/testing/runner/runner.go
  testing/integration/apm_propagation_test.go
  testing/integration/beats_serverless_test.go
  testing/integration/diagnostics_test.go
  testing/integration/endpoint_security_test.go
  testing/integration/fake_test.go
  testing/integration/fqdn_test.go
  testing/integration/groups_test.go
  testing/integration/install_test.go
  testing/integration/install_unprivileged_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/package_version_test.go
  testing/integration/proxy_url_test.go
  testing/integration/upgrade_broken_package_test.go
  testing/integration/upgrade_downgrade_test.go
  testing/integration/upgrade_fleet_test.go
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_rollback_test.go
  testing/integration/upgrade_standalone_inprogress.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_test.go
  testing/integration/upgrade_uninstall_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3842 Add agent hash to check for detecting upgrade rollbacks
  internal/pkg/agent/application/upgrade/marker_watcher.go
  internal/pkg/agent/application/upgrade/marker_watcher_test.go
Labels: bug, Team:Elastic-Agent, backport-skip, skip-changelog

#3835 Add custom MarshalYAML() method to component to fix YAML marshaling of error values
  changelog/fragments/1701208315-custom-yaml-marshal-for-component.yaml
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  pkg/component/component.go
  pkg/component/component_test.go
Labels: Team:Elastic-Agent, backport-skip

#3849 Add check for deadline set in contexts passed to Fixture.Run()
  pkg/testing/fixture.go
  testing/integration/diagnostics_test.go
  testing/integration/endpoint_security_test.go
  testing/integration/fake_test.go
  testing/integration/fqdn_test.go
  testing/integration/install_test.go
  testing/integration/install_unprivileged_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/package_version_test.go
  testing/integration/pkgversion_common_test.go
  testing/integration/proxy_url_test.go
  testing/integration/upgrade_broken_package_test.go
  testing/integration/upgrade_downgrade_test.go
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_rollback_test.go
  testing/integration/upgrade_standalone_inprogress.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_test.go
  testing/integration/upgrade_uninstall_test.go
Labels: bug, Team:Elastic-Agent, skip-changelog, Testing, backport-v8.11.0
