Repository elastic/elastic-agent, pull requests merged in 2023-07, with the labels that each got.

#2974 Fix FQDNTest
  testing/integration/fqdn_test.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#2978 [Workaround] Disable upgrade watcher check in `TestFleetManagedUpgrade`
  testing/integration/upgrade_test.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#2980 Added verification fallback to https://artifacts.elastic.co/GPG-KEY-elastic-agent
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#2985 Removed call to fleet setup during container start
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/setup_config.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#2984 Add a version parameter to define.NewFixture
  pkg/testing/define/define.go
  testing/integration/diagnostics_test.go
  testing/integration/enroll_test.go
  testing/integration/fake_test.go
  testing/integration/fqdn_test.go
  testing/integration/install_test.go
  testing/integration/upgrade_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#2993 integration:local can run a single test
  dev-tools/mage/gotest.go
  magefile.go
Labels: Team:Elastic-Agent, backport-v8.9.0

#2928 Run ITs on PRs
  .buildkite/pipeline.yml
Labels: backport-skip, skip-changelog

#2956 Improve error and log statements, refactor debian runner in tests
  magefile.go
  pkg/testing/fixture_install.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
  pkg/testing/tools/tools.go
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#2987 Enhance local fetcher to accept versions with SNAPSHOT suffix
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#2912 updated monitoring socket
  changelog/fragments/1687362147-change-monitoring-socket.yaml
  internal/pkg/agent/application/monitoring/process.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  pkg/component/fake/component/comp/dialer_windows.go
  pkg/component/fake/shipper/listener_windows.go
  pkg/component/runtime/manager_shipper.go
  pkg/component/runtime/manager_shipper_unix.go
  pkg/component/runtime/manager_shipper_windows.go
  pkg/utils/socket_unix.go
  pkg/utils/socket_unix_test.go
  pkg/utils/socket_windows.go
  pkg/utils/socket_windows_test.go
Labels: bug, Team:Elastic-Agent, backport-v8.9.0

#2991 [8.9] Update elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3009 mage integration:local all
  magefile.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#2986 fixing default flag for hints autodiscovery
  deploy/kubernetes/Makefile
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
Labels: backport-skip, skip-changelog

#3013 Enable timestamps in buildkite integration tests.
  .buildkite/scripts/integration_tests.sh
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#2988 Enhance test framework docs
  docs/test-framework-dev-guide.md
Labels: Team:Elastic-Agent, backport-skip, docs, skip-changelog

#2999 Upgrade Go to 1.20.5
  .ci/bump-golang.yml
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1688572070-Upgrade-Go-to-1.20.5.yaml
  version/docs/version.asciidoc
Labels: enhancement, Team:Elastic-Agent, backport-skip, 8.10-candidate

#3014 Improve uninstall on Windows to remove directory even when uninstall is being executed from same directory
  changelog/fragments/1688657261-Don't-trigger-IOC-alert-on-Windows-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_unix.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
Labels: Team:Elastic-Agent, backport-v8.9.0

#3021 Upgrade integration tests: Remove test suite wrappers
  testing/integration/upgrade_test.go
Labels: Team:Elastic-Agent, refactoring, Cleanup, skip-changelog, Testing, backport-v8.9.0

#3020 `TestFakeComponent`: Remove test suite struct
  testing/integration/fake_test.go
Labels: Team:Elastic-Agent, refactoring, Cleanup, skip-changelog, Testing, backport-v8.9.0

#3022 Integration Test Framework: Fix SSH connection log message
  pkg/testing/runner/runner.go
Labels: Team:Elastic-Agent, Cleanup, skip-changelog, Testing, backport-v8.9.0

#3019 `TestDiagnosticsCommand`: Remove test suite struct
  testing/integration/diagnostics_test.go
Labels: Team:Elastic-Agent, refactoring, Cleanup, skip-changelog, Testing, backport-v8.9.0

#3017 `TestEnrollAndLog`: Remove test suite struct
  testing/integration/enroll_test.go
Labels: Team:Elastic-Agent, refactoring, Cleanup, skip-changelog, Testing, backport-v8.9.0

#3016 `TestFQDN`: Remove test suite struct
  testing/integration/fqdn_test.go
Labels: Team:Elastic-Agent, refactoring, Cleanup, skip-changelog, Testing, backport-v8.9.0

#3032 `TestFQDN`: Increase timeout for data check to 2 minutes
  testing/integration/fqdn_test.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#3035 Added changelog fragment for fleet setup removal
  changelog/fragments/1688712693-Removed-calls-to-fleet-setup.yaml
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#3036 Testing: fix namespace error
  pkg/testing/define/define.go
  pkg/testing/tools/elasticsearch.go
  testing/integration/enroll_test.go
  testing/integration/fqdn_test.go
Labels: bug, Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#3044 Add dra-artifact pipeline placeholder
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pull-requests.json
  catalog-info.yaml
Labels: backport-skip, skip-changelog

#3047 Delete 1688549045-integrationlocal-accepts-test-name.yaml
  changelog/fragments/1688549045-integrationlocal-accepts-test-name.yaml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3053 Fix mage unitTest to actually run tests
  dev-tools/mage/gotest.go
  dev-tools/mage/gotest_test.go
  magefile.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#3056 Revert "Improve uninstall on Windows to remove directory even when un…
  changelog/fragments/1688657261-Don't-trigger-IOC-alert-on-Windows-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_unix.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#2963 Add an E2E test to ensure we can install Elastic Defend
  internal/pkg/agent/install/uninstall.go
  pkg/component/runtime/service.go
  pkg/testing/tools/fleet_package_policy_api.go
  pkg/testing/tools/tools.go
  testing/integration/endpoint_security_package.json.tmpl
  testing/integration/endpoint_security_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#2908 Feature/report version from file
  changelog/fragments/1687529573-Report-the-version-from-the-elastic-agent-package-instead-of-agent-binary.yaml
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/packaging/packages.yml
  docs/test-framework-dev-guide.md
  internal/pkg/agent/application/application.go
  internal/pkg/agent/cmd/common.go
  internal/pkg/agent/install/install_windows.go
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
  internal/pkg/release/version.go
  internal/pkg/release/version_test.go
  magefile.go
  pkg/testing/fetcher_local.go
  pkg/testing/fixture.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
  testing/integration/diagnostics_test.go
  testing/integration/install_test.go
  testing/integration/package_version_test.go
  testing/integration/pkgversion_common_test.go
  testing/integration/upgrade_test.go
  version/helper.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#3079 [Integration Test][`TestFQDN`] Disable flaky assertion
  testing/integration/fqdn_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, Testing, backport-v8.9.0

#3073 Integration test - Fetcher must collect SHAs
  pkg/testing/fetcher.go
  pkg/testing/fetcher_artifact.go
  pkg/testing/fetcher_artifact_test.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog, Testing

#3089 Update kubernetes templates for elastic-agent [templates.d]
  deploy/kubernetes/elastic-agent-standalone/templates.d/apache.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cef.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/checkpoint.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cockroachdb.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cyberarkpas.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/elasticsearch.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/iis.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/infoblox_nios.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/iptables.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/kafka.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/kibana.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/log.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/logstash.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mattermost.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/microsoft_sqlserver.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mimecast.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/modsecurity.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mongodb.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/netflow.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/nginx.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/panw.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/pfsense.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/postgresql.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/prometheus.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/rabbitmq.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/redis.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/snort.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/symantec_endpoint.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/synthetics.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/tcp.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/tomcat.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/udp.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/zeek.yml
Labels: automation, backport-skip, skip-changelog

#3092 Revert "[Service Runtime] Add ability for service operations to be retried (#2889)"
  changelog/fragments/1687301871-service-command-retries.yaml
  docs/component-specs.md
  internal/pkg/agent/install/uninstall.go
  pkg/component/runtime/service.go
  pkg/component/runtime/service_command.go
  pkg/component/runtime/service_command_test.go
  pkg/component/spec.go
Labels: Team:Elastic-Agent, Cleanup, >bug, skip-changelog, backport-v8.9.0

#3091 Integration tests: fixed couldn't stat file error
  pkg/testing/runner/archiver.go
Labels: skip-changelog, backport-v8.8.0, backport-v8.9.0

#3084 Agent owns its directories
  changelog/fragments/1689328899-Elastic-Agent-container-runs-on-Azure-Container-Instances-.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#3096 Enable and fix race detector for CI
  .ci/Jenkinsfile
  dev-tools/mage/gotest.go
  internal/pkg/agent/application/dispatcher/dispatcher_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  pkg/component/runtime/log_writer.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#3097 Fix flaky `TestFQDN`
  docs/test-framework-dev-guide.md
  testing/integration/fqdn_test.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#3094 Update kubernetes templates for elastic-agent [templates.d]
  deploy/kubernetes/elastic-agent-standalone/templates.d/activemq.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/apache.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cassandra.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cef.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/checkpoint.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cockroachdb.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/crowdstrike.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/cyberarkpas.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/elasticsearch.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/endpoint.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/fireeye.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/haproxy.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/hashicorp_vault.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/hid_bravura_monitor.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/iis.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/infoblox_nios.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/iptables.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/kafka.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/keycloak.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/kibana.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/log.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/logstash.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mattermost.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/microsoft_sqlserver.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mimecast.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/modsecurity.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mongodb.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mysql.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/mysql_enterprise.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/nats.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/netflow.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/nginx.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/nginx_ingress_controller.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/oracle.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/panw.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/panw_cortex_xdr.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/pfsense.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/postgresql.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/prometheus.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/qnap_nas.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/rabbitmq.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/redis.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/santa.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/security_detection_engine.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/sentinel_one.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/snort.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/snyk.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/stan.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/suricata.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/symantec_endpoint.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/synthetics.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/tcp.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/tomcat.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/traefik.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/udp.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/zeek.yml
  deploy/kubernetes/elastic-agent-standalone/templates.d/zookeeper.yml
Labels: automation, backport-skip, skip-changelog

#2781 Tamper protected Endpoint uninstall - combined PR
  changelog/fragments/1688069371-Tamper-protected-Endpoint-uninstall.yaml
  docs/component-specs.md
  internal/pkg/agent/application/actions/handlers/handler_action_unenroll.go
  internal/pkg/agent/application/actions/handlers/handler_action_unenroll_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade.go
  internal/pkg/agent/application/actions/handlers/handler_helpers.go
  internal/pkg/agent/application/actions/handlers/handler_helpers_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/mocks/runtime_manager.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/storage/store/action_store.go
  internal/pkg/fleetapi/action.go
  internal/pkg/fleetapi/action_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/component/input_spec.go
  pkg/component/runtime/command.go
  pkg/component/runtime/failed.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/runtime.go
  pkg/component/runtime/service.go
  pkg/component/runtime/service_test.go
  pkg/features/features.go
  specs/endpoint-security.spec.yml
Labels: enhancement, Team:Elastic-Agent, backport-skip

#3110 Skip flaky `TestEnrollAndLog` E2E test
  testing/integration/enroll_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, Testing, backport-v8.9.0

#3111 Fix data race in `TestActionUnenrollHandler` test
  internal/pkg/agent/application/actions/handlers/handler_action_unenroll_test.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#3076 Add / report persistent policy error metadata in Coordinator
  control_v2.proto
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/control/v2/server/server.go
Labels: bug, Team:Elastic-Agent, backport-skip, skip-changelog

#2917 [Release] Update version to 8.9.1
  version/version.go
Labels: Team:Automation, release, skip-changelog

#3093 [Upgrade Watcher] Fix error messages
  changelog/fragments/1689622778-upgrade-watcher-fix-error-message.yaml
  internal/pkg/agent/cmd/watch.go
Labels: Team:Elastic-Agent, >bug, backport-v8.9.0

#3087 [Automation] Bump Golang version to 1.20.6
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  go.mod
  version/docs/version.asciidoc
Labels: backport-skip, skip-changelog

#3125 Enable running govulncheck in PRs
  .ci/bump-golang.yml
  .github/workflows/govulncheck.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#3106 Changelog for 8.9.0
  changelog/8.9.0.asciidoc
  changelog/8.9.0.yaml
  changelog/fragments/1684175757-bump-node-deps.yaml
  changelog/fragments/1684731814-Allow-upgrade-to-snapshots.yaml
  changelog/fragments/1685442237-add-logs-subcommand.yaml
  changelog/fragments/1686142189-Lowercase-reported-hostnames-per-Elastic-Common-Schema-(ECS)-guidelines-for-the-host.name-field..yaml
  changelog/fragments/1686684090-Increase-Go-version-to-1.19.10..yaml
  changelog/fragments/1686770028-spec-timeout-units.yaml
  changelog/fragments/1686833548-service-runtime-info-logging.yaml
  changelog/fragments/1686845318-deployment-kubernetes-add-elements-for-Universal-Profiling.yaml
  changelog/fragments/1686949146-update-status-command.yaml
  changelog/fragments/1687251084-Fixed-diagnostics-logging-collection-on-k8s.yaml
  changelog/fragments/1687362147-change-monitoring-socket.yaml
  changelog/fragments/1688401847-Fix-drop-processor-for-monitoring-components.yaml
Labels: Team:Elastic-Agent, skip-changelog, forwardport-main

#3046 Add buildkite pipeline to build elastic-agent binary artifacts
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/integration_tests.sh
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/dra-publish.sh
  .buildkite/scripts/steps/integration_tests.sh
  Makefile
  catalog-info.yaml
Labels: enhancement, Team:Security-External Integrations, skip-changelog, backport-v8.8.0, backport-v8.9.0

#3109 Pass go test flags to integration tests
  dev-tools/mage/gotest.go
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/define/batch.go
  pkg/testing/define/batch_test.go
  pkg/testing/runner/config.go
  pkg/testing/runner/runner.go
Labels: enhancement, Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#3114 Elastic Defend install path runtime prevention
  changelog/fragments/1689883203-Elastic-Defend-runtime-prevention.yaml
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install_test.go
  internal/pkg/agent/cmd/install_windows_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/testing/tools/cmd.go
  pkg/testing/tools/tools.go
  specs/endpoint-security.spec.yml
  testing/integration/endpoint_security_test.go
  testing/integration/enroll_test.go
  testing/integration/fqdn_test.go
  testing/integration/upgrade_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip

#2727 Add pipeline for packaging Elastic-agent
  .buildkite/hooks/post-checkout
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/common.sh
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/dra-publish.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/common.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/godaemon.go
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/manifest/manifestspecs.go
  dev-tools/mage/pkg.go
  dev-tools/mage/settings.go
  magefile.go
  pkg/testing/tools/artifacts_api.go
  pkg/testing/tools/artifacts_api_test.go
Labels: skip-changelog, backport-v8.8.0, backport-v8.9.0

#3120 Improve uninstall on Windows to remove directory even when uninstall is being executed from same directory
  changelog/fragments/1688657261-Don't-trigger-IOC-alert-on-Windows-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_unix.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
Labels: Team:Elastic-Agent, backport-skip

#3138 Disable flaky assertion on TestActionDispatcher/Cancel_queued_action
  internal/pkg/agent/application/dispatcher/dispatcher_test.go
Labels: Team:Elastic-Agent, flaky-test, backport-skip, skip-changelog

#3145 Fix E2E tests skipping if requirement OS set to ARM64
  pkg/testing/define/batch.go
  pkg/testing/define/batch_test.go
Labels: bug, >bug, skip-changelog, backport-v8.9.0

#3139 Revert "Agent owns its directories"
  changelog/fragments/1689328899-Elastic-Agent-container-runs-on-Azure-Container-Instances-.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#2834 Enhance mock fleet-server and add --proxy-url integration test
  .github/workflows/build.yml
  Vagrantfile
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/define/define.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  testing/fleetservertest/README.md
  testing/fleetservertest/ackableactions.go
  testing/fleetservertest/auth.go
  testing/fleetservertest/checkin.go
  testing/fleetservertest/fleetserver.go
  testing/fleetservertest/fleetserver_test.go
  testing/fleetservertest/handlers.go
  testing/fleetservertest/models.go
  testing/fleetservertest/server.go
  testing/integration/README.md
  testing/integration/fqdn_test.go
  testing/integration/proxy_url_test.go
  testing/proxytest/proxytest.go
  version/version.go
Labels: enhancement, Team:Elastic-Agent, skip-changelog, Testing, backport-v8.9.0

#3118 Add CPU profiling and component-level diagnostics
  NOTICE.txt
  changelog/fragments/1690219594-component-diagnostics.yaml
  control_v2.proto
  go.mod
  go.sum
  internal/pkg/agent/application/actions/handlers/handler_action_diagnostics.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/cmd/diagnostics.go
  internal/pkg/diagnostics/diagnostics.go
  pkg/component/runtime/manager.go
  pkg/control/v1/proto/control_v1.pb.go
  pkg/control/v1/proto/control_v1_grpc.pb.go
  pkg/control/v2/client/client.go
  pkg/control/v2/cproto/control_v2.pb.go
  pkg/control/v2/cproto/control_v2_grpc.pb.go
  pkg/control/v2/server/server.go
  testing/integration/diagnostics_test.go
Labels: Team:Elastic-Agent, backport-skip

#3140 Spawn the watcher of the new binary vs the current running version.
  changelog/fragments/1690468425-Improves-upgrade-process-to-uses-upgraded-version-of-watcher-to-ensure-for-a-successful-upgrade.yaml
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/service.go
  internal/pkg/agent/application/upgrade/service_darwin.go
  internal/pkg/agent/application/upgrade/service_windows.go
Labels: Team:Elastic-Agent, backport-skip

#3149 Fix mage and go buildkit script exit codes
  .buildkite/scripts/common.sh
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0

#3156 Skip flaky retry upgrade test.
  testing/integration/upgrade_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.9.0
