Repository elastic/elastic-agent, pull requests merged in 2024-02, with the labels that each got.

#4159 [OTel] Introduce otel subcommand
  NOTICE.txt
  go.mod
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/cmd/common.go
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/otel_flags.go
  internal/pkg/agent/cmd/otel_flags_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/config_manager.go
  internal/pkg/otel/run.go
  internal/pkg/otel/run_test.go
  pkg/testing/fixture.go
  testing/integration/otel_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#3887 [E2E Testing] mage targets to interact with VMs and cloud stack
  docs/test-framework-dev-guide.md
  magefile.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#4163 Add support fetching artefacts for a build ID
  pkg/testing/fetcher_artifact.go
  pkg/testing/fetcher_artifact_test.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  pkg/testing/testdata/build-manifest.json
  pkg/testing/testdata/release-response.json
  pkg/testing/testdata/snapshot-response.json
  testing/integration/upgrade_downgrade_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4173 Use package manifest for install
  dev-tools/mage/settings.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog

#4174 Use package manifests for upgrade
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_relink.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/watch.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog

#4176 Support version in watcher cleanup rollback
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_relink.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/watch.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog

#4023 Support for validate subcommand for otel configuration
  internal/pkg/agent/application/application.go
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/otel_flags.go
  internal/pkg/agent/cmd/testdata/otel/elastic-agent.yml
  internal/pkg/agent/cmd/testdata/otel/otel.yml
  internal/pkg/agent/cmd/validate.go
  internal/pkg/agent/cmd/validate_test.go
  internal/pkg/otel/validate.go
  testing/integration/otel_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#4179 Fix daemon reload with backoff SIGINT handling
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
Labels: bug, Team:Elastic-Agent, backport-skip, skip-changelog

#4194 docs: update docs versions 8.12.1
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#4195 [Release] Update version to 8.12.2
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Labels: Team:Automation, release, skip-changelog

#4024 Send package.version to components
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_settings.go
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/fleet_server_bootstrap.go
  internal/pkg/agent/application/info/agent_info.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/storage/encrypted_disk_store.go
  internal/pkg/agent/vault/vault_notdarwin.go
  pkg/component/runtime/command.go
  pkg/component/runtime/conn_info_server.go
  pkg/component/runtime/conn_info_server_test.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_fake_input_test.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/runtime_comm.go
  pkg/component/runtime/runtime_comm_test.go
  pkg/component/runtime/state.go
  pkg/control/v2/server/server.go
  pkg/testing/fixture.go
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/diagnostics_test.go
  testing/integration/package_version_test.go
  testing/integration/pkgversion_common_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#4198 Enable feature-gates for otel subcommands
  NOTICE.txt
  go.mod
  internal/pkg/agent/cmd/common.go
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/otel_flags.go
  internal/pkg/agent/cmd/otel_flags_test.go
  internal/pkg/agent/cmd/validate.go
  testing/integration/otel_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#4218 Skip flaky integration test TestComponentBuildHashInDiagnostics
  testing/integration/package_version_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, skipped-test

#4209 Add Endpoint access to Build and Read for Independent Agent testing
  catalog-info.yaml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, Testing

#4221 [Automation] Bump Golang version to 1.21.7
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1704304944-Upgrade-to-Go-1.21.7.yaml
  version/docs/version.asciidoc
Labels: backport-skip

#4202 Serverless: switch to _reset-internal-credentials.
  pkg/testing/ess/serverless.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.12.0

#4037 specs/filebeat.spec.yml - make ETW input available
  changelog/fragments/1707481157-etw-filebeat-spec.yaml
  specs/filebeat.spec.yml
Labels: enhancement, Team:Elastic-Agent, Team:Security-External Integrations, backport-skip

#4233 Adding build badge
  README.md
Labels: backport-skip, skip-changelog

#4242 [elastic-agent][new spec] - Added websocket to agent spec sheet
  changelog/fragments/1707754331-websocket-filebeat-spec.yaml
  specs/filebeat.spec.yml
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, Team:Security-Service Integrations

#4193 Feature/add agent version to installation directory name
  changelog/fragments/1706703918-Add-the-full-version-number-to-the-installation-directory-name.yaml
  dev-tools/mage/settings.go
  dev-tools/packaging/package_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/darwin/elastic-agent.tmpl
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  docs/upgrades.md
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_darwin.go
  internal/pkg/agent/application/upgrade/rollback_linux.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/rollback_windows.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_relink.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
  internal/pkg/agent/install/install_windows.go
  pkg/api/v1/manifest.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#4245 Increase timeout to prevent failures on MacOS
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#4226 Updating NewPod updater with autodiscover 0.6.7 version
  NOTICE.txt
  changelog/fragments/1707405322-newpodupdater.yaml
  go.mod
  go.sum
  internal/pkg/composable/providers/kubernetes/pod.go
Labels: Team:Elastic-Agent, backport-skip

#4225 Check for agent rogue processes in integration tests
  pkg/testing/fixture_install.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog, Testing

#4155 Elastic Defend arm64 is not supported on Windows yet
  NOTICE.txt
  docs/component-specs.md
  go.mod
  go.sum
  internal/pkg/agent/application/info/inject_config.go
  internal/pkg/agent/application/info/inject_config_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/component/platforms.go
  pkg/component/platforms_test.go
  specs/endpoint-security.spec.yml
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#4227 github-actions: listen for all the workflows
  .github/workflows/opentelemetry.yml
Labels: backport-skip, skip-changelog

#4147 Pass context with timeout to FQDN lookup
  changelog/fragments/1706213166-fqdn-ctx.yaml
  internal/pkg/agent/application/info/agent_metadata.go
  internal/pkg/composable/providers/host/host.go
  internal/pkg/util/host.go
  internal/pkg/util/host_test.go
Labels: bug, Team:Elastic-Agent, backport-v8.12.0

#4224 [uninstall] ensure service is stopped on windows
  changelog/fragments/1707857612-windows_stop_before_uninstall.yaml
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/wait_service_other.go
  internal/pkg/agent/install/wait_service_windows.go
  testing/integration/install_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-v8.12.0, backport-v8.13.0

#4235 Fix action store -> state store migration tests
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/agent/storage/store/testdata/7.17.18-action_store.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4270 Fixes http.Verifier so it uses its http client
  changelog/fragments/1707999059-Fixes-an-issue-where-the-Elastic-Agent-did-not-utilize-the-download-settings-when-downloading-the-artifact-signature-file..yaml
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
Labels: Team:Elastic-Agent, backport-v8.12.0, backport-v8.13.0

#4257 Bump the version on main to 8.14.0
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/upgrade_broken_package_test.go
  version/version.go
Labels: backport-skip, skip-changelog

#4261 Add mTLS env vars for container mode
  changelog/fragments/1707935415-Add-mTLS-env-var-settings-for-containers.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  internal/pkg/agent/cmd/setup_config.go
Labels: enhancement, Team:Elastic-Agent, backport-v8.13.0

#4294 docs: update docs versions 8.12.2
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#4288 Use the right HTTP client
  pkg/testing/tools/artifacts_api.go
Labels: enhancement, Team:Elastic-Agent, skip-changelog, backport-v8.12.0, backport-v8.13.0

#4172 Fix filemarker creation process, update error message on uninstall
  changelog/fragments/1707951532-change-install-marker-creation.yaml
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
Labels: Team:Elastic-Agent, backport-v8.12.0, backport-v8.13.0

#4287 Refactor out copyConcurrency calculation in install.copyFiles()
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, refactoring, skip-changelog, chore

#4310 Increase waiting time and timeout for removal of agent files
  changelog/fragments/1708594284-Increase-timeout-for-file-removal-during-uninstall.yaml
  internal/pkg/agent/install/uninstall.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, Testing, backport-v8.12.0, backport-v8.13.0

#4314 Avoid drainErrChan hanging forever if the channel is closed
  pkg/component/runtime/manager_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.12.0, backport-v8.13.0

#4313 remove 8.12.0 version pinning
  .buildkite/scripts/steps/integration_tests.sh
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, Testing

#4290 [Flaky Test]: fix TestFakeInputSuite/TestManager_OutputChange
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_fake_input_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4318 disable failing GPG integration tests
  testing/integration/upgrade_gpg_test.go
Labels: skip-changelog

#4295 [Release] Update version to 8.12.3
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Labels: Team:Automation, release, skip-changelog

#4325 Stop pinning tests on main to 8.13.0 now that 8.14.0-SNAPSHOT exists
  .buildkite/scripts/steps/integration_tests.sh
  testing/integration/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4285 Extract vault as reusable component
  internal/pkg/agent/application/paths/paths.go
  internal/pkg/agent/application/paths/paths_darwin.go
  internal/pkg/agent/application/paths/paths_linux.go
  internal/pkg/agent/application/paths/paths_windows.go
  internal/pkg/agent/application/secret/secret.go
  internal/pkg/agent/application/secret/secret_test.go
  internal/pkg/agent/migration/migrate_config_test.go
  internal/pkg/agent/storage/encrypted_disk_storage_windows_linux_test.go
  internal/pkg/agent/storage/encrypted_disk_store.go
  internal/pkg/agent/storage/storage.go
  internal/pkg/agent/vault/seed.go
  internal/pkg/agent/vault/seed_test.go
  internal/pkg/agent/vault/vault.go
  internal/pkg/agent/vault/vault_file.go
  internal/pkg/agent/vault/vault_file_notwindows.go
  internal/pkg/agent/vault/vault_file_test.go
  internal/pkg/agent/vault/vault_file_windows.go
  internal/pkg/agent/vault/vault_keychain_darwin.c
  internal/pkg/agent/vault/vault_keychain_darwin.go
  internal/pkg/agent/vault/vault_keychain_notdarwin.go
  internal/pkg/agent/vault/vault_keychain_notdarwin_test.go
  internal/pkg/agent/vault/vault_options.go
  internal/pkg/agent/vault/vault_options_darwin.go
  internal/pkg/agent/vault/vault_options_nondarwin.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#4256 Add integration test to update an agent with another built from the same commit
  dev-tools/mage/settings.go
  pkg/testing/fetcher_local.go
  pkg/testing/fixture.go
  testing/integration/upgrade_standalone_same_commit_test.go
  testing/upgradetest/upgrader.go
  testing/upgradetest/versions.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, Testing, backport-v8.13.0

#4304 Add process dump for failed integration tests
  pkg/testing/fixture_install.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog, Testing

#4240 Match fleet server action model and use on JSON for serialisation
  internal/pkg/agent/application/actions/handlers/handler_action_cancel.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_settings.go
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade.go
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  internal/pkg/agent/application/dispatcher/dispatcher.go
  internal/pkg/agent/application/dispatcher/dispatcher_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/storage/store/action_store.go
  internal/pkg/agent/storage/store/action_store_test.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/config/operations/inspector.go
  internal/pkg/fleetapi/ack_cmd_test.go
  internal/pkg/fleetapi/acker/fleet/fleet_acker_test.go
  internal/pkg/fleetapi/action.go
  internal/pkg/fleetapi/action_test.go
  internal/pkg/fleetapi/checkin_cmd_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4321 Re-enable the ProxyURL tests.
  testing/integration/proxy_url_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4330 Fix GPG test hash mismatch
  pkg/testing/fetcher_http.go
  pkg/testing/fetcher_http_test.go
  testing/integration/upgrade_gpg_test.go
  testing/upgradetest/upgrader.go
Labels: skip-changelog, forwardport-main, backport-v8.13.0
