Repository elastic/elastic-agent, pull requests merged in 2024-03, with the labels that each got.

#4348 Integration Testing Framework: Add retries for artifacts API call
  pkg/testing/tools/artifacts_api.go
  pkg/testing/tools/artifacts_api_test.go
  testing/integration/upgrade_broken_package_test.go
  testing/integration/upgrade_downgrade_test.go
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_rollback_test.go
  testing/integration/upgrade_standalone_inprogress_test.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_test.go
  testing/integration/upgrade_uninstall_test.go
  testing/upgradetest/versions.go
Labels: Team:Elastic-Agent, skip-changelog, Testing, backport-v8.13.0

#4331 Use a version file instead of artifact API in integration tests
  .agent-versions.json
  .github/workflows/bump-agent-versions.yml
  magefile.go
  pkg/testing/tools/artifacts_api.go
  pkg/testing/tools/artifacts_api_test.go
  testing/integration/upgrade_broken_package_test.go
  testing/integration/upgrade_downgrade_test.go
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_rollback_test.go
  testing/integration/upgrade_standalone_inprogress_test.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_test.go
  testing/integration/upgrade_uninstall_test.go
  testing/upgradetest/versions.go
  testing/upgradetest/versions_test.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#4358 Add timeouts to TestCoordinatorReportsInvalidPolicy
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, backport-v8.13.0

#4357 Add Windows Defender exception for integration tests
  pkg/testing/runner/windows.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4150 add extended runtime test
  .buildkite/pipeline.yml
  NOTICE.txt
  dev-tools/mage/pkg.go
  docs/test-framework-dev-guide.md
  go.mod
  go.sum
  internal/pkg/agent/application/monitoring/v1_monitor.go
  magefile.go
  pkg/testing/fixture.go
  pkg/testing/tools/epr.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/slope.go
  pkg/testing/tools/slope_test.go
  testing/integration/agent_long_running_leak_test.go
  testing/integration/agent_long_test_apache.json
  testing/integration/agent_long_test_base_system_integ.json
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4365 Revert "Add Windows Defender exception for integration tests (#4357)"
  pkg/testing/runner/windows.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4366 Remove accidental debug lines
  internal/pkg/agent/application/monitoring/v1_monitor.go
Labels: bug, Team:Elastic-Agent, backport-skip, skip-changelog

#4368 Add Signal to context provider interface
  internal/pkg/composable/controller.go
  internal/pkg/composable/testing/context.go
  internal/pkg/core/composable/providers.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4253 Refactor state store
  internal/pkg/agent/application/actions/handlers/handler_action_unenroll.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/storage/store/action_store.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/config/operations/inspector.go
  internal/pkg/fleetapi/action.go
  internal/pkg/queue/actionqueue.go
  internal/pkg/queue/actionqueue_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4334 add postrm script to deb and rpm packages
  changelog/fragments/1708732907-add-postrm-script-to-deb-and-rpm-packages.yaml
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/linux/postrm.sh.tmpl
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#4375 [8.12] Remove integration test package version override
  .buildkite/scripts/steps/integration_tests.sh
Labels: Team:Elastic-Agent, skip-changelog

#4372 Add git credentials for versions update Github action
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4396 update prevention condition to allow install if runtime cannot discover the native architecture
  specs/endpoint-security.spec.yml
Labels: bug, Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4222 [Independent Agent Release] New pipeline upload step for agent package for Independent Agent Release
  .buildkite/hooks/pre-command
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/scripts/steps/ironbank-cp-workaround.sh
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/manifest/manifest.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4301 add a DEB integration test
  .buildkite/scripts/steps/integration_tests.sh
  dev-tools/mage/pkg.go
  pkg/testing/define/define.go
  pkg/testing/fetch_test.go
  pkg/testing/fetcher.go
  pkg/testing/fetcher_artifact.go
  pkg/testing/fetcher_artifact_test.go
  pkg/testing/fetcher_http.go
  pkg/testing/fetcher_http_test.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/windows.go
  testing/integration/groups_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/upgrade_fleet_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#4391 Fix GRPC server shutdown sequence
  pkg/component/runtime/manager.go
Labels: bug, Team:Elastic-Agent, skip-changelog, backport-v8.12.0, backport-v8.13.0

#4394 Add CPU profile collection to diagnostics handler
  changelog/fragments/1710153529-Add-CPU-profile-collection-to-diagnostics-action-handler.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_diagnostics.go
  internal/pkg/agent/application/actions/handlers/handler_action_diagnostics_test.go
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/fleetapi/action.go
  internal/pkg/fleetapi/action_test.go
  pkg/control/v2/server/server.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip

#4406 Fix typo and adjust comment
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  pkg/testing/fixture_install.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#4397 Fix timing on WaitForWatcher unit tests by making context expire manually
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog, Testing

#4388 Expand extended runtime tests to check for gorutine usage
  pkg/testing/tools/slope.go
  testing/integration/agent_long_running_leak_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4408 Remove reviewers from the update agent versions automation
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4371 [Kubernetes secret provider] Send signal to agent if cache is updated
  changelog/fragments/1709824109-k8s-secret-provider-trigger-signal.yaml
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets_test.go
Labels: backport-skip

#4412 [main] Bugfix for Independent Agent version parsing
  dev-tools/mage/manifest/manifest.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4362 Enable unprivileged on macos
  changelog/fragments/1710179479-Enable---unprivileged-on-Mac-OS.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/agent/application/info/agent_id.go
  internal/pkg/agent/application/secret/secret.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/inspect.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_test.go
  internal/pkg/agent/migration/migrate_config.go
  internal/pkg/agent/migration/migrate_config_test.go
  internal/pkg/agent/storage/disk_store.go
  internal/pkg/agent/storage/encrypted_disk_storage_windows_linux_test.go
  internal/pkg/agent/storage/encrypted_disk_store.go
  internal/pkg/agent/storage/encrypted_disk_store_test.go
  internal/pkg/agent/storage/storage_test.go
  internal/pkg/agent/storage/store/action_store_test.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/config/operations/inspector.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#4416 Add more labels to the bump-agent-versions.yml automation
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4419 Revert "add a DEB integration test"
  .buildkite/scripts/steps/integration_tests.sh
  dev-tools/mage/pkg.go
  pkg/testing/define/define.go
  pkg/testing/fetch_test.go
  pkg/testing/fetcher.go
  pkg/testing/fetcher_artifact.go
  pkg/testing/fetcher_artifact_test.go
  pkg/testing/fetcher_http.go
  pkg/testing/fetcher_http_test.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/windows.go
  testing/integration/groups_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/upgrade_fleet_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4421 Make policy names unique in integration tests
  testing/integration/container_cmd_test.go
  testing/integration/delay_enroll_test.go
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4422 Give TestCloseChannel more time to close the channel
  internal/pkg/core/backoff/backoff_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4425 Optionally cancel context in TestWaitForWatcher to test timeouts
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, flaky-test, skip-changelog, Testing, backport-v8.13.0

#4424 integration deb rpm
  .buildkite/scripts/steps/integration_tests.sh
  dev-tools/mage/pkg.go
  pkg/testing/define/define.go
  pkg/testing/fetch_test.go
  pkg/testing/fetcher.go
  pkg/testing/fetcher_artifact.go
  pkg/testing/fetcher_artifact_test.go
  pkg/testing/fetcher_http.go
  pkg/testing/fetcher_http_test.go
  pkg/testing/fetcher_local.go
  pkg/testing/fetcher_local_test.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/windows.go
  testing/integration/groups_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/upgrade_fleet_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4305 Add action and state stores migrations
  internal/pkg/agent/application/paths/files.go
  internal/pkg/agent/storage/encrypted_disk_storage_windows_linux_test.go
  internal/pkg/agent/storage/encrypted_disk_store.go
  internal/pkg/agent/storage/storage.go
  internal/pkg/agent/storage/store/action_store.go
  internal/pkg/agent/storage/store/action_store_test.go
  internal/pkg/agent/storage/store/internal/migrations/migrations.go
  internal/pkg/agent/storage/store/migrations.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/agent/storage/store/testdata/8.0.0-action_policy_change.yml
  internal/pkg/agent/storage/store/testdata/8.0.0-action_unenroll.yml
  internal/pkg/queue/actionqueue.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4426 Add documentation about logging
  docs/elastic-agent-logging.md
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4326 Add metrics-monitoring beats to resource monitoring
  changelog/fragments/1708628530-add-monitoring-beats-to-metrics.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/kibana.go
  testing/integration/agent_long_running_leak_test.go
  testing/integration/metrics_monitoring_test.go
  testing/integration/system_integration_setup.json
Labels: Team:Elastic-Agent, backport-skip

#4452 Temporary skip `Extended runtime leak tests`
  .buildkite/pipeline.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, skipped-test

#4451 Revert "Add metrics-monitoring beats to resource monitoring"
  changelog/fragments/1708628530-add-monitoring-beats-to-metrics.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/kibana.go
  testing/integration/agent_long_running_leak_test.go
  testing/integration/metrics_monitoring_test.go
  testing/integration/system_integration_setup.json
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4453 Detect endpoint component IDs from agent state in TestEndpointLogsAreCollectedInDiagnostics
  testing/integration/endpoint_security_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog, Testing

#4459 Fix MacOS compatibility script syntax
  dev-tools/packaging/templates/darwin/elastic-agent.tmpl
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4448 Fix fixture diagnostics unconditionally logging an error.
  pkg/testing/fixture_install.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4402 Fix flaky TestCoordinatorReportsInvalidPolicy
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Labels: Team:Elastic-Agent, flaky-test, skip-changelog, backport-v8.13.0

#4461 add integration test for install via RPM on SLES
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/ogc/supported.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/linux.go
  pkg/testing/runner/sles.go
  pkg/testing/runner/supported.go
  pkg/testing/runner/supported_test.go
  testing/integration/groups_test.go
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4468 Avoid using the artifact API for test-cases where it's not needed
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_uninstall_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4474 Revert "add integration test for install via RPM on SLES"
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/ogc/supported.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/linux.go
  pkg/testing/runner/sles.go
  pkg/testing/runner/supported.go
  pkg/testing/runner/supported_test.go
  testing/integration/groups_test.go
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4478 Ensure integration test setup has a timeout.
  magefile.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4480 Add TEST_PACKAGES environment variable for integration tests
  magefile.go
  pkg/testing/runner/config.go
  pkg/testing/runner/runner.go
Labels: enhancement, Team:Elastic-Agent, backport-skip, skip-changelog

#4462 Revert removal of metrics-monitoring change, fix tests to account for fleet naming changes
  changelog/fragments/1708628530-add-monitoring-beats-to-metrics.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  pkg/testing/tools/estools/elasticsearch.go
  pkg/testing/tools/kibana.go
  testing/integration/agent_long_running_leak_test.go
  testing/integration/metrics_monitoring_test.go
  testing/integration/system_integration_setup.json
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4485 Add in-memory logger and use it on install and uninstall
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  pkg/core/logger/logger.go
  pkg/core/logger/logger_test.go
Labels: enhancement, backport-skip, skip-changelog

#4259 [Release] Update version to 8.13.1
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/upgrade_broken_package_test.go
  version/version.go
Labels: Team:Automation, release, skip-changelog, skipped-test
