Repository elastic/elastic-agent, pull requests merged in 2024-04, with the labels that each got.

#4503 docs: update docs versions 8.13.1
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#4504 [Release] Update version to 8.13.2
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/upgrade_broken_package_test.go
  version/version.go
Labels: Team:Automation, release, skip-changelog

#4498 Add RPM integration tests
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/ogc/supported.go
  pkg/testing/runner/debian.go
  pkg/testing/runner/linux.go
  pkg/testing/runner/rhel.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/ssh.go
  pkg/testing/runner/supported.go
  pkg/testing/runner/supported_test.go
  testing/integration/groups_test.go
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4509 Remove 8.13.1 version pinning.
  .buildkite/scripts/steps/integration_tests.sh
  testing/integration/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent, skip-changelog

#4512 Update versions file automation
  .github/workflows/bump-agent-versions.yml
  magefile.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4521 Extract the bump-agent-versions workflow into a script
  .github/workflows/bump-agent-versions.sh
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4522 Use pre-defined Github actions, enable Slack notifications
  .github/workflows/bump-agent-versions.sh
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4525 Fix panic when handling error in process dumping
  pkg/testing/fixture_install.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4508 [Automation] Bump Golang version to 1.21.9
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1712176768-Upgrade-to-Go-1.21.9.yaml
  version/docs/version.asciidoc
Labels: backport-v8.13.0

#4530 Temporary disable K8s sync
  .buildkite/pipeline.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4519 Fix failing upgrade command when gRPC server interrupts connection
  changelog/fragments/1712305270-fix-upgrade-cmd-fail-when-disconnected.yaml
  internal/pkg/agent/cmd/upgrade.go
  internal/pkg/agent/cmd/upgrade_test.go
  testing/upgradetest/upgrader.go
Labels: bug, Team:Elastic-Agent, backport-v8.13.0

#4531 Fix description formatting in the versions file automation
  .github/workflows/bump-agent-versions.sh
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4481 Check if the Fleet API version is different between request and response to detect an api version switch request
  changelog/fragments/1711474205-Reduce-false-positives-in-logging-an-API-switch-request-from-Fleet-server.yaml
  internal/pkg/fleetapi/client/client_test.go
  internal/pkg/remote/client.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-v8.13.0

#4534 Send Slack notifications only when versions file PR is created
  .github/workflows/bump-agent-versions.sh
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4533 Do not fail tests when interrupted connection during upgrade
  testing/upgradetest/upgrader.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4535 [main][Automation] Update .agent-versions.json
  .agent-versions.json
  magefile.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, update-versions

#4541 Make the logs test assertion in upgrade retries deterministic
  internal/pkg/agent/application/upgrade/step_download_test.go
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4545 docs: update docs versions 8.13.2
  version/docs/version.asciidoc
Labels: Team:Automation, release, docs, in progress, skip-changelog

#4523 Make enroll command more stable
  changelog/fragments/1712324173-improve-enroll-stability.yaml
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/fleetapi/enroll_cmd.go
  internal/pkg/fleetapi/enroll_cmd_test.go
Labels: enhancement, Team:Elastic-Agent, backport-v8.13.0

#4528 Fix sync k8s step
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/sync-k8s.sh
  deploy/kubernetes/Makefile
Labels: enhancement, backport-skip, skip-changelog

#4546 [Release] Update version to 8.13.3
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/upgrade_broken_package_test.go
  version/version.go
Labels: Team:Automation, release, skip-changelog

#4552 Fix pipeline description for the gce-clean
  catalog-info.yaml
Labels: backport-skip, skip-changelog, ci, Team:Ingest-EngProd

#4548 [main][Automation] Update .agent-versions.json
  .agent-versions.json
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, update-versions

#4550 Add build for main and release branches on elastic-agent-core DRA pipeline
  catalog-info.yaml
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#4555 fix branch_configuration location in catalog-info
  catalog-info.yaml
Labels: backport-skip

#4554 Post a link to a created PR on Slack when versions file is updated
  .github/workflows/bump-agent-versions.sh
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4558 Fix typo in the outputs variable
  .github/workflows/bump-agent-versions.sh
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4568 Rename ManifestUrl env variable to MANIFEST_URL
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/settings.go
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog, chore

#4563 Refactor action policy change handler
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, refactoring, skip-changelog

#4571 [main][Automation] Update .agent-versions.json
  .agent-versions.json
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, update-versions

#4572 upgrade opentelemetry-collector-contrib to v0.98.0
  NOTICE.txt
  changelog/fragments/1713157536-upgrade-otel-collector-contrib-package.yaml
  go.mod
  go.sum
  internal/pkg/otel/README.md
Labels: backport-skip

#4574 Fix typo in the variable name when sending a Slack message
  .github/workflows/bump-agent-versions.yml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4565 Revert version pinning in CI from 8.13.2 release
  .buildkite/scripts/steps/integration_tests.sh
  testing/integration/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent, skip-changelog

#4499 Add `/liveness` endpoint to elastic-agent
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/config/elastic-agent.docker.yml.tmpl
  _meta/elastic-agent.yml
  changelog/fragments/1711653910-add-liveness-endpoint.yaml
  elastic-agent.docker.yml
  elastic-agent.reference.yml
  elastic-agent.yml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/monitoring/handler.go
  internal/pkg/agent/application/monitoring/liveness.go
  internal/pkg/agent/application/monitoring/liveness_test.go
  internal/pkg/agent/application/monitoring/process.go
  internal/pkg/agent/application/monitoring/processes.go
  internal/pkg/agent/application/monitoring/reload/reload.go
  internal/pkg/agent/application/monitoring/reload/reload_test.go
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/agent/application/monitoring/server_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/core/monitoring/config/config.go
  testing/integration/monitoring_probe_reload_test.go
Labels: Team:Elastic-Agent, backport-skip

#4583 Revert "Add `/liveness` endpoint to elastic-agent (#4499)"
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/config/elastic-agent.docker.yml.tmpl
  _meta/elastic-agent.yml
  changelog/fragments/1711653910-add-liveness-endpoint.yaml
  elastic-agent.docker.yml
  elastic-agent.reference.yml
  elastic-agent.yml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/monitoring/handler.go
  internal/pkg/agent/application/monitoring/liveness.go
  internal/pkg/agent/application/monitoring/liveness_test.go
  internal/pkg/agent/application/monitoring/process.go
  internal/pkg/agent/application/monitoring/processes.go
  internal/pkg/agent/application/monitoring/reload/reload.go
  internal/pkg/agent/application/monitoring/reload/reload_test.go
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/agent/application/monitoring/server_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/core/monitoring/config/config.go
  testing/integration/monitoring_probe_reload_test.go
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4584 Exclude cloud-defend from linux .tar.gz packages
  changelog/fragments/1713289288-Removed-cloud-defend-from-.tar.gz-archives.yaml
  dev-tools/mage/pkgtypes.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#4581 Delete resources created by OGC more than 5 hours ago
  .buildkite/misc/gce-cleanup.yml
  .buildkite/scripts/steps/gce-cleanup.sh
  catalog-info.yaml
Labels: Team:Elastic-Agent, backport-skip, skip-changelog

#4491 Always launch more recent watcher
  changelog/fragments/1712737337-always-launch-more-recent-watcher.yaml
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
  version/helper.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip

#4590 Unconditionally cleanup severless projects in buildkite pre-exit hook
  .buildkite/hooks/pre-exit
Labels: Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4516 Switch to using agentbeat versus all the other beats from the beats repository
  changelog/fragments/1712949156-Switch-to-agentbeat.yaml
  dev-tools/mage/manifest/manifest.go
  dev-tools/packaging/files/linux/filebeat.sh
  dev-tools/packaging/files/linux/metricbeat.sh
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  internal/pkg/agent/application/monitoring/processes.go
  internal/pkg/agent/application/monitoring/processes_cloud.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/upgrade/artifact/download/http/common_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/cmd/inspect.go
  magefile.go
  pkg/component/component.go
  pkg/component/runtime/command.go
  pkg/component/runtime/service.go
  pkg/component/spec.go
  testing/integration/package_version_test.go
Labels: Team:Elastic-Agent, backport-skip

#4593 backport: Add 8.14 branch
  .mergify.yml
Labels: Team:Automation, impact:critical, release, skip-changelog, backport-v8.14.0

#4596 close state file in TestComponentBuildHashInDiagnostics
  testing/integration/package_version_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, flaky-test, skip-changelog, Testing, backport-v8.14.0

#4575 Increate BK Agent Resources for Ind Agent Step
  .buildkite/pipeline.elastic-agent-package.yml
Labels: skip-changelog, backport-v8.13.0, backport-v8.14.0

#4592 Bump the version on main to 8.15.0
  .buildkite/scripts/steps/integration_tests.sh
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/upgrade_broken_package_test.go
  version/version.go
Labels: backport-skip, skip-changelog

#4476 Introduce isolated units for input spec
  changelog/fragments/1711355973-Introduce-non-grouping-for-input-spec.yaml
  internal/pkg/agent/application/coordinator/coordinator_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/component/fake/component/comp/actions.go
  pkg/component/fake/component/comp/component.go
  pkg/component/fake/shipper/main.go
  pkg/component/input_spec.go
  specs/cloudbeat.spec.yml
  testing/integration/diagnostics_test.go
  testing/integration/fake_test.go
  testing/integration/fakes.go
Labels: enhancement, backport-skip

#4542 [Kubernetes leader election] Run leader elector at all times
  changelog/fragments/1712583231-leader-election-issue.yaml
  internal/pkg/composable/providers/kubernetesleaderelection/kubernetes_leaderelection.go
  internal/pkg/composable/providers/kubernetesleaderelection/kubernetes_leaderelection_test.go
Labels: Team:Cloudnative-Monitoring, backport-v8.14.0

#4602 [main][Automation] Update .agent-versions.json
  .agent-versions.json
Labels: Team:Elastic-Agent, backport-skip, skip-changelog, update-versions

#4610 Fixingspacek8s templates
  deploy/kubernetes/creator_k8s_manifest.sh
Labels: backport-skip, skip-changelog

#4586 Fix liveness reload config handling
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/config/elastic-agent.docker.yml.tmpl
  _meta/elastic-agent.yml
  changelog/fragments/1711653910-add-liveness-endpoint.yaml
  elastic-agent.docker.yml
  elastic-agent.reference.yml
  elastic-agent.yml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/monitoring/handler.go
  internal/pkg/agent/application/monitoring/liveness.go
  internal/pkg/agent/application/monitoring/liveness_test.go
  internal/pkg/agent/application/monitoring/process.go
  internal/pkg/agent/application/monitoring/processes.go
  internal/pkg/agent/application/monitoring/reload/reload.go
  internal/pkg/agent/application/monitoring/reload/reload_test.go
  internal/pkg/agent/application/monitoring/server.go
  internal/pkg/agent/application/monitoring/server_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/core/monitoring/config/config.go
  internal/pkg/core/monitoring/config/config_test.go
  testing/integration/monitoring_probe_preserve_text_cfg_test.go
  testing/integration/monitoring_probe_reload_test.go
Labels: Team:Elastic-Agent, backport-skip

#4618 [Kubernetes] Check AddResourceMetadata and hints before starting namespace and node watchers
  changelog/fragments/1713946896-remove-mandatory-ns-node-permissions.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
  internal/pkg/composable/providers/kubernetes/service.go
  internal/pkg/composable/providers/kubernetes/service_test.go
Labels: Team:Cloudnative-Monitoring, backport-skip

#4632 Add add_cloud_metadata processor error to exclusion list
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#4631 Increase the download timeout to make the test more stable
  internal/pkg/agent/application/upgrade/step_download_test.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, backport-v8.13.0

#4620 [main][Automation] Update .agent-versions.json
  .agent-versions.json
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, update-versions, backport-v8.14.0
