Repository elastic/elastic-agent, pull requests merged in 2024-08, with the labels that each got.

#5242 [otel] Added components to comply with otel demo
  NOTICE.txt
  dev-tools/notice/overrides.json
  go.mod
  go.sum
  internal/pkg/otel/README.md
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components.yml
Labels: enhancement, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-v8.15.0

#5196 [pkg][fix] - Filter non-fatal errors and update go.mod
  NOTICE.txt
  go.mod
  go.sum
  pkg/testing/fixture_install.go
  pkg/utils/watcher.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5260 Fix debian packaging for upgrades
  changelog/fragments/1722954476-Fix-loss-of-state.enc-on-upgrade-with-debian-packaging.yaml
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
  pkg/testing/fixture_install.go
  testing/integration/linux_deb_test.go
  testing/integration/linux_rpm_test.go
  testing/integration/logs_ingestion_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-v8.15.0

#5293 Skip failing k8s capabilities test
  pkg/testing/runner/runner.go
  testing/integration/kubernetes_agent_standalone_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog, Testing, skipped-test

#5290 fix: rootless k8s integration tests
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  testing/integration/kubernetes_agent_standalone_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5301 Relax leak test condition from Healthy to not Failed.
  testing/integration/agent_long_running_leak_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5284 switch to monotonic clocks for component check-in
  changelog/fragments/1723477450-use-monotonic-clock-for-check-in.yaml
  pkg/component/runtime/command.go
  pkg/component/runtime/service.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-v8.15.0

#5283 refactor: bump ulid lib to current major version
  NOTICE.txt
  go.mod
  go.sum
  internal/pkg/id/generate.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5312 Temporary skip TestRpmLogIngestFleetManaged due to instability
  testing/integration/linux_rpm_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, skipped-test, backport-v8.15.0

#5263 Add a diagram for CAs and Certs usage between agent, fleet-server and ES
  docs/agent-fleet-server-ES-CAs-certificates-usage.md
Labels: documentation, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5270 Increase watcher in upgrade tests to timeout after 10m
  .agent-versions.json
  testing/upgradetest/upgrader.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog, Testing

#5317 Return nil error instead of syscall.Errno(0) on windows
  changelog/fragments/1724103107-Check-windows-permissions-for-false-positive-return.yaml
  internal/pkg/agent/perms/windows.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip

#5321 [CI] Fix post-dependabot commit step conditionals
  .github/workflows/post-dependabot.yml
Labels: enhancement, Team:Elastic-Agent-Control-Plane, skip-changelog, Team:Ingest-EngProd, backport-v8.14.0, backport-v8.15.0

#5308 Complete removal of shipper support along with documentation
  .gitignore
  changelog/fragments/1723818607-Remove-experimental-support-for-shippers.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  docs/agent-policy.md
  docs/architecture.md
  docs/component-specs.md
  docs/images/components-shipper-example.d2
  docs/images/components-shipper-example.svg
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/info/agent_metadata_test.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/cmd/inspect.go
  internal/pkg/fleetapi/checkin_cmd.go
  magefile.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/component/fake/common/common.go
  pkg/component/fake/common/event.pb.go
  pkg/component/fake/common/event.proto
  pkg/component/fake/common/event_grpc.pb.go
  pkg/component/fake/component/README.md
  pkg/component/fake/component/comp/actions.go
  pkg/component/fake/component/comp/component.go
  pkg/component/fake/shipper/README.md
  pkg/component/fake/shipper/actions.go
  pkg/component/fake/shipper/listener.go
  pkg/component/fake/shipper/listener_windows.go
  pkg/component/fake/shipper/main.go
  pkg/component/input_spec.go
  pkg/component/load.go
  pkg/component/runtime/command.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_fake_input_test.go
  pkg/component/runtime/manager_shipper.go
  pkg/component/runtime/runtime.go
  pkg/component/runtime/service.go
  pkg/component/runtime/shipper.go
  pkg/component/shipper_spec.go
  pkg/component/spec.go
  pkg/component/spec_test.go
  specs/cloudbeat.spec.yml
  specs/shipper.spec.yml
  specs/testbeat.spec.yml
  testing/integration/apm_propagation_test.go
  testing/integration/diagnostics_test.go
  testing/integration/fake_test.go
  testing/integration/fakes.go
  testing/integration/otel_test.go
  testing/integration/package_version_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip

#5248 Docker image running Elastic Agent in Otel mode
  dev-tools/packaging/templates/docker/docker-entrypoint.elastic-agent.tmpl
  testing/integration/kubernetes_agent_standalone_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, backport-skip, skip-changelog

#5188 deploy/kubernetes: drop cache directory for Universal Profiling
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-managed/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset.yaml
Labels: backport-skip, Cleanup, skip-changelog

#5339 Skip flaky test: `TestEventLogFile`
  testing/integration/event_logging_test.go
Labels: Team:Elastic-Agent-Data-Plane, backport-skip, skip-changelog, skipped-test

#5341 Fix TestEventLogFile, TestContainerCMDEventToStderr and TestEventLogOutputConfiguredViaFleet
  testing/integration/container_cmd_test.go
  testing/integration/event_logging_test.go
Labels: Team:Elastic-Agent-Data-Plane, backport-skip, skip-changelog

#5342 Re-Skip Flaky test TestEventLogOutputConfiguredViaFleet
  testing/integration/event_logging_test.go
Labels: Team:Elastic-Agent-Data-Plane, backport-skip, skip-changelog

#5334 refactor: remove calls to deprecated rand.Seed function
  main.go
  testing/integration/install_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, Cleanup, skip-changelog

#5356 Revert "Relax leak test condition from Healthy to not Failed."
  testing/integration/agent_long_running_leak_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5345 Improve watcher and TestWatcher_AgentErrorQuick logs
  internal/pkg/agent/application/upgrade/watcher.go
  internal/pkg/agent/application/upgrade/watcher_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, skip-changelog, backport-v8.15.0

#5359 [testing/integration] Fix flaky test cases
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  testing/integration/agent_long_running_leak_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-v8.15.0

#5336 replace math/rand with math/rand/v2
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/marker_access_test.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/core/backoff/equal_jitter.go
  internal/pkg/remote/client.go
  internal/pkg/scheduler/scheduler.go
  magefile.go
  testing/integration/install_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5338 Add ability to build specific docker variants
  dev-tools/mage/crossbuild.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/dockervariants.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#5381 Updating also kustomize templates for 8.15.1
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
Labels: skip-changelog

#5383 Fix kustomize image versions
  Makefile
Labels: backport-skip, skip-changelog
