Repository elastic/elastic-agent, pull requests merged in 2025-09, with the labels that each got.

#9697 github-actions: support label after being merged
  .github/workflows/backport-active.yml
Labels: backport-skip, skip-changelog

#9732 chore: fix formatting issues in logp printf-style calls
  internal/pkg/agent/application/actions/handlers/handler_action_policy_reassign.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/migration/migrate_config.go
  internal/pkg/composable/providers/kubernetes/kubernetes.go
  internal/pkg/config/loader.go
  internal/pkg/remote/client.go
  pkg/testing/ess/serverless_provisioner.go
Labels: skip-changelog, backport-active-9, backport-8.19

#9757 chore: fix formatting issues in logp printf-style calls
  pkg/ipc/listener_windows.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog

#9604 Fix/8544 mac linux unprivileged reenroll
  changelog/fragments/1756313785-enable-root-user-to-re-enroll-unprivileged-agent-for-mac-and-linux.yaml
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/cmd/enroll_match_fileowner_unix.go
  internal/pkg/agent/cmd/enroll_match_fileowner_unix_test.go
  internal/pkg/agent/cmd/enroll_match_fileowner_windows.go
  internal/pkg/agent/cmd/enroll_match_fileowner_windows_test.go
  internal/pkg/agent/cmd/enroll_test.go
  internal/pkg/agent/cmd/enroll_unix.go
  internal/pkg/agent/cmd/enroll_unix_test.go
  internal/pkg/agent/cmd/enroll_windows.go
  testing/integration/ess/re-enroll_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-active-all

#9322 Enhancement/5235 handle insufficient disk space errors in artifact unpack
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-active-all

#9812 fix: mount /opt/git-mirrors in golang-crossbuild container for VCS stamping
  dev-tools/mage/crossbuild.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-active-all

#9218 Refactor binary downloads in agent packaging targets
  dev-tools/mage/downloads/utils.go
  dev-tools/mage/downloads/utils_test.go
  dev-tools/mage/downloads/versions.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-active-all

#9634 fix: send upgrade action to units before adding it to bkgActions
  .mockery.yaml
  changelog/fragments/1757079091-fix-stale-upgrade-actions.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade.go
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  internal/pkg/agent/application/actions/handlers/handler_helpers.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/control/v2/server/server.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/upgrade_coordinator_mock.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all

#9366 Enhancement/5235 wrap errors when marking upgrade
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-active-all

#9992 fix: always clear the coordinator overridden state on err inside upgrade of coordinator
  changelog/fragments/1758045690-clear-coordinator-state.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all

#10008 Trigger extended tests if FIPS integration tests pipeline changes
  .buildkite/pipeline.yml
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x, backport-8.19, backport-9.1

#10007 Temporarily have FIPS integration tests spin up deployments in Production CFT environment
  .buildkite/bk.integration-fips.pipeline.yml
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.19, backport-9.1

#9926 Changelog for 9.0.7
  changelog/9.0.7.yaml
  changelog/fragments/1755283748-service-retry-install.yaml
  changelog/fragments/1755873563-bump_kube_stack.yaml
  changelog/fragments/1756122869-update-secret-redaction-in-diagnostics.yaml
  changelog/fragments/1756218044-fix-upgrade-details-state.yaml
  changelog/fragments/1756313785-enable-root-user-to-re-enroll-unprivileged-agent-for-mac-and-linux.yaml
  changelog/fragments/1756325090-Fix-missing-liveness-healthcheck-during-container-enrollment.yaml
  changelog/fragments/1756433743-enable-root-user-to-re-enroll-unprivileged-agent-for-windows.yaml
  changelog/fragments/1756833043-enhance-upgrade-action-loggers.yaml
  changelog/fragments/1756921212-endpoint-284-non-fatal.yaml
  changelog/fragments/1757079091-fix-stale-upgrade-actions.yaml
  docs/release-notes/_snippets/9.0.7/breaking.md
  docs/release-notes/_snippets/9.0.7/deprecations.md
  docs/release-notes/_snippets/9.0.7/index.md
  docs/release-notes/_snippets/breaking-changes.md
  docs/release-notes/_snippets/deprecations.md
  docs/release-notes/_snippets/index.md
Labels: release, docs, skip-changelog, forwardport-main, backport-9.1

#9386 Enhancement/5235 upgrade cleans up downloads and extracted agent
  changelog/fragments/1755268130-cleanup-downloads-directory-and-the-new-versioned-home-if-upgrade-fails.yaml
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-active-all

#10049 Add code owners for otel sample configs and core components metadata files
  .github/CODEOWNERS
Labels: skip-changelog, backport-active-9

#10082 Improve Collector docs automation script
  .github/workflows/update-docs.yml
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/custom-collector.md
  docs/reference/edot-collector/download.md
  docs/scripts/update-docs/templates/components-table.jinja2
  docs/scripts/update-docs/templates/ocb.jinja2
  docs/scripts/update-docs/update-components-docs.py
Labels: backport-skip, docs, skip-changelog

#9921 Changelog for 8.19.4
  changelog/8.19.4.yaml
  changelog/8.19.4/breaking.md
  changelog/8.19.4/deprecations.md
  changelog/8.19.4/index.md
  changelog/fragments/1755283748-service-retry-install.yaml
  changelog/fragments/1755873563-bump_kube_stack.yaml
  changelog/fragments/1756122869-update-secret-redaction-in-diagnostics.yaml
  changelog/fragments/1756218044-fix-upgrade-details-state.yaml
  changelog/fragments/1756313785-enable-root-user-to-re-enroll-unprivileged-agent-for-mac-and-linux.yaml
  changelog/fragments/1756325090-Fix-missing-liveness-healthcheck-during-container-enrollment.yaml
  changelog/fragments/1756433743-enable-root-user-to-re-enroll-unprivileged-agent-for-windows.yaml
  changelog/fragments/1756833043-enhance-upgrade-action-loggers.yaml
  changelog/fragments/1756921212-endpoint-284-non-fatal.yaml
  changelog/fragments/1757079091-fix-stale-upgrade-actions.yaml
Labels: release, docs, skip-changelog

#9931 Add agent_policy_id and policy_revision_idx to checkin requests
  changelog/fragments/1757710842-Add-agent_policy_id-and-policy_revision_idx-to-checkin-requests.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_unenroll.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/fleetapi/checkin_cmd.go
  pkg/features/features.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip

#10115 keep enrollment token when replacing data with signed
  internal/pkg/agent/application/actions/handlers/handler_action_migrate.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#10126 [AutoOps] Configure OTel Exporter to Send Maximum-sized Batches
  internal/pkg/otel/samples/darwin/autoops_es.yml
  internal/pkg/otel/samples/linux/autoops_es.yml
  internal/pkg/otel/samples/windows/autoops_es.yml
Labels: bug, skip-changelog, backport-9.1

#9801 Forward migrate action to endpoint
  internal/pkg/agent/application/actions/handlers/handler_action_migrate.go
  internal/pkg/agent/application/actions/handlers/handler_action_migrate_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/enroll/options.go
  internal/pkg/fleetapi/action.go
  specs/endpoint-security.spec.yml
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#10129 Fix multiarch service image push from main to serverless
  .buildkite/pipeline.agentless-app-release.yaml
  .buildkite/scripts/steps/ecp-internal-release.sh
  .buildkite/scripts/steps/integration-package.sh
  .github/CODEOWNERS
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog

#10159 Add back publish to serverless
  .buildkite/pipeline.yml
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog

#10137 [otel] Add Logstash exporter to OTel mode
  changelog/fragments/1758747376-add-logstash-exporter.yaml
  internal/pkg/otel/components.go
  internal/pkg/otel/testdata/all-components.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane

#10146 edot/docs: add support for profiles
  docs/reference/edot-collector/config/configure-logs-collection.md
  docs/reference/edot-collector/config/configure-metrics-collection.md
  docs/reference/edot-collector/config/configure-profiles-collection.md
  docs/reference/edot-collector/toc.yml
  internal/pkg/otel/samples/linux/profiles_metrics.yml
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#10172 Deduplicate extensions when generating otel config
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.19, backport-9.1

#10151 feat: make EDOT subprocess the default execution mode
  internal/pkg/otel/config/config.go
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/metrics_monitoring_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.19

#9982 Add support for quicker Fleet check-in upon component status
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/configuration/fleet.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#10143 dev-tools: add profiling special case for edot
  changelog/fragments/1758789248-fix-edot-tooling.yaml
  dev-tools/mage/otel/deps.go
  dev-tools/mage/otel/deps_test.go
  internal/pkg/otel/README.md
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip

#10052 [otel] Implement EDOT diagnostics extension
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/cmd/diagnostics_otel.go
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/otel/components.go
  internal/pkg/otel/diagnostics.go
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  internal/pkg/otel/manager/execution_embedded.go
  internal/pkg/otel/manager/force_extension_converter.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  pkg/control/v2/server/server.go
  testing/integration/ess/diagnostics_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog
