Repository elastic/elastic-agent, pull requests merged in 2025-07, with the labels that each got.

#8692 [Helm] support onboarding-id for kubernetes
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/README.md
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/agent-kubernetes-values.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_apiserver.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_controller_manager.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_kubelet_containers.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_kubelet_nodes.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_kubelet_pods.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_kubelet_system.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_kubelet_volumes.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_logs_audit.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_logs_containers.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_proxy.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_scheduler.tpl
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_state.tpl
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-9.0

#8765 chore: fix elastic-agent helm chart examples
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#8691 feat: singleTest mage target for each integration test package
  docs/test-framework-dev-guide.md
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-active-all

#8377 [CI] BK Vault plugin for EC access
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess.sh
Labels: enhancement, skip-changelog, backport-active-all

#8712 [Synthetics] Upgrade node to latest lts v20
  changelog/fragments/1751029489-synth-upgra-node-v20.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: dependency, Team:obs-ds-hosted-services, backport-active-all

#8766 Add ability for local output configuration to add to policy configuration
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/application/coordinator/config_patcher.go
  internal/pkg/config/config.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-9.1

#8709 Replace Dependabot reviewers with code owners
  .github/dependabot.yml
Labels: enhancement, skip-changelog, ci, backport-active-all

#8817 ci: unpin agent version
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  testing/integration/ess/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#8816 ci: unpin agent version
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  testing/integration/ess/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#8718 Re-enable TestStandaloneUpgradeRollbackOnRestarts on windows
  testing/integration/ess/upgrade_rollback_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog, Testing

#8784 fix: don't override log level from state for standalone agents
  changelog/fragments/1751455886-correct-log-level-for-standalone-agents.yaml
  internal/pkg/agent/application/info/agent_info.go
  internal/pkg/agent/application/info/agent_info_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all

#8865 flaky: accommodate for slower CI runners in TestProvidersDefaultDisabled
  internal/pkg/composable/controller_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, skip-changelog, backport-active-all

#8383 Adding a unified FIPS integration test
  testing/integration/ess/fips_test.go
  testing/integration/ess/fleetserver_fips_test.go
  testing/integration/ess/upgrade_fleet_test.go
  testing/integration/ess/upgrade_integrations_server_test.go
  testing/upgradetest/upgrader.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, Testing, backport-8.19

#8835 chore(agentless): register to backstage
  catalog-info.yaml
Labels: backport-skip, skip-changelog

#8866 flaky: ignore errors about non existing files in validateFileTree
  testing/installtest/checks_unix.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, skip-changelog, backport-active-all

#8918 [AutoOps] Support Temporary Resource ID
  internal/pkg/otel/samples/darwin/autoops_es.yml
  internal/pkg/otel/samples/linux/autoops_es.yml
  internal/pkg/otel/samples/windows/autoops_es.yml
Labels: bug, skip-changelog, backport-9.1

#8487 Don't fail otel tests if both documents don't contain an ignored field
  testing/integration/ess/otel_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, Cleanup, skip-changelog, chore, backport-active-all

#8881 fix: blocking issues of runtime communicator
  changelog/fragments/1751960319-fix-blocking-issues-inside-runtime-communicator.yaml
  pkg/component/runtime/runtime_comm.go
  pkg/component/runtime/runtime_comm_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all

#8951 flaky: skip TestAPMConfig
  testing/integration/ess/apm_propagation_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, skip-changelog, backport-active-all

#8337 Add custom ECH deployment + smoke test
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/steps/integration_tests_tf.sh
  magefile.go
  testing/integration/ess/ech_test.go
  testing/integration/groups.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.19

#8737 Move beat receiver component logic to the otel manager
  .gitignore
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/otel/manager/common.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.19

#8949 helm: define headless service for statefulset presets
  deploy/helm/elastic-agent/examples/statefulset-preset/README.md
  deploy/helm/elastic-agent/examples/statefulset-preset/agent-values.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/eck/statefulset.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/statefulset.yaml
  deploy/helm/elastic-agent/templates/agent/service.yaml
Labels: bug, skip-changelog, backport-8.18, backport-9.0, backport-8.19, backport-9.1

#8966 [8.18] Bump ironbank 9.6
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog

#8673 Fix/6667 fix previous minor unit test
  testing/upgradetest/versions.go
  testing/upgradetest/versions_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#9030 Drop event logs from being monitored
  internal/pkg/agent/application/monitoring/testdata/monitoring_config_full.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.19

#9082 deps: use the latest updatecli version and use oblt-actions
  .github/workflows/bump-beats-version.yml
  .github/workflows/bump-golang.yml
  .github/workflows/bump-otel-version.yml
  .github/workflows/bump-vm-images.yml
  .github/workflows/updatecli-compose.yml
  .updatecli-version
Labels: skip-changelog, backport-8.18, backport-9.0, backport-8.19, backport-9.1

#9096 github-actions: change default username for serverless oblt-cli and non-ephemeral
  .github/workflows/serverless-project.yml
Labels: backport-skip, skip-changelog

#8977 Changelog for 9.0.4
  changelog/9.0.4.asciidoc
  changelog/9.0.4.yaml
  changelog/fragments/1751029489-synth-upgra-node-v20.yaml
  changelog/fragments/1751037802-Stop-logging-that-unprivileged-installations-are-in-beta.yaml
  changelog/fragments/1751444462-add_logs_only_motel_config.yaml
  changelog/fragments/1751455886-correct-log-level-for-standalone-agents.yaml
  changelog/fragments/1751960319-fix-blocking-issues-inside-runtime-communicator.yaml
  changelog/fragments/1752049251-Fixed-SUSE-installation-from-RPM.yaml
Labels: skip-changelog

#9106 chore: remove agent version pinning in the CI
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .package-version
  testing/integration/ess/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#9121 ci: use elastic-agent VM images for packaging
  .buildkite/integration.pipeline.yml
  .ci/updatecli/updatecli-bump-vm-images.yml
Labels: skip-changelog, backport-active-all

#9164 flaky: increase time constraints in TestPrintLogs
  internal/pkg/agent/cmd/logs_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, skip-changelog, backport-active-all

#9097 Add beat metrics to beat receiver diagnostics
  internal/pkg/agent/application/monitoring/process.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog, backport-8.19

#9104 chore: remove agent version pinning in the CI
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .package-version
  testing/integration/ess/upgrade_broken_package_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, skip-changelog

#9181 Fix version check in rollback tests
  testing/integration/ess/upgrade_rollback_test.go
  testing/upgradetest/versions.go
Labels: bug, backport-skip, skip-changelog, Testing

#9165 helm: update ksm to 6.1.0 for elastic-agent chart
  deploy/helm/elastic-agent/Chart.lock
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/Chart.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/README.md
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/_helpers.tpl
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/crs-configmap.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/deployment.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/pdb.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/podsecuritypolicy.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/psp-clusterrole.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/psp-clusterrolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/role.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/scrapeconfig.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/service.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/values.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.18, backport-9.0, backport-8.19, backport-9.1

#9195 Wait for policy action to be acked in TestInspect
  testing/integration/ess/inspect_test.go
Labels: Team:Elastic-Agent-Control-Plane, flaky-test, skip-changelog, backport-active-all

#9199 Don't overwrite existing headers when mapping agentInfo headers into elasticsearch output
  changelog/fragments/1753906482-Don't-overwrite-elasticsearch-output-headers-from-enrollment---headers-flag.yaml
  pkg/component/component.go
  pkg/component/component_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-9.1
