Repository elastic/elastic-agent, pull requests merged in 2025-10, with the labels that each got.

#10259 [OTel] Fix CLI example to use proper syntax
  internal/pkg/agent/cmd/otel_flags.go
  internal/pkg/agent/cmd/validate_test.go
Labels: bug, skip-changelog, backport-active-9

#10239 Adds elasticapm processor to the docs
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/modes.md
Labels: backport-skip, skip-changelog

#10359 [docs] Add EDOT Collector docs files
  docs/docset.yml
  docs/reference/edot-collector/_snippets/edot-collector-auth.md
  docs/reference/edot-collector/_snippets/guided-instructions.md
  docs/reference/edot-collector/_snippets/process-config.md
  docs/reference/edot-collector/_snippets/retrieve-credentials.md
  docs/reference/edot-collector/_snippets/serverless-endpoint-api.md
  docs/reference/edot-collector/component-docs.yml
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/components/elasticapmintakereceiver.md
  docs/reference/edot-collector/components/elasticsearchexporter.md
  docs/reference/edot-collector/config/authentication-methods.md
  docs/reference/edot-collector/config/configure-logs-collection.md
  docs/reference/edot-collector/config/configure-metrics-collection.md
  docs/reference/edot-collector/config/configure-profiles-collection.md
  docs/reference/edot-collector/config/default-config-k8s.md
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/config/index.md
  docs/reference/edot-collector/config/proxy.md
  docs/reference/edot-collector/config/tail-based-sampling.md
  docs/reference/edot-collector/custom-collector.md
  docs/reference/edot-collector/customization.md
  docs/reference/edot-collector/download.md
  docs/reference/edot-collector/index.md
  docs/reference/edot-collector/modes.md
  docs/reference/edot-collector/toc.yml
  docs/reference/edot-collector/upstream-collector.md
Labels: documentation, Team:Docs, docs, skip-changelog, backport-9.0

#10309 Changelog 9.0.8
  changelog/9.0.8.yaml
  changelog/fragments/1755268130-cleanup-downloads-directory-and-the-new-versioned-home-if-upgrade-fails.yaml
  changelog/fragments/1757010848-agent-responds-with-clean-insufficient-disk-space-error-message.yaml
  changelog/fragments/1757502748-liveness-include-agent-aggregated-status.yaml
  changelog/fragments/1758039757-reduce-default-telemetry-frequency.yaml
  changelog/fragments/1758045690-clear-coordinator-state.yaml
  changelog/fragments/1758287649-fix-liveness_units.yaml
  changelog/fragments/1758890389-k8s-daemonset-up.yaml
  docs/release-notes/_snippets/9.0.8/breaking.md
  docs/release-notes/_snippets/9.0.8/deprecations.md
  docs/release-notes/_snippets/9.0.8/index.md
Labels: release, docs, skip-changelog

#10266 Changelog for 8.18.8
  changelog/8.18.8.asciidoc
  changelog/8.18.8.yaml
  changelog/fragments/1755268130-cleanup-downloads-directory-and-the-new-versioned-home-if-upgrade-fails.yaml
  changelog/fragments/1757010848-agent-responds-with-clean-insufficient-disk-space-error-message.yaml
  changelog/fragments/1757502748-liveness-include-agent-aggregated-status.yaml
  changelog/fragments/1758039757-reduce-default-telemetry-frequency.yaml
  changelog/fragments/1758045690-clear-coordinator-state.yaml
  changelog/fragments/1758287649-fix-liveness_units.yaml
Labels: release, docs, skip-changelog

#10217 Fix error logging for provider failures
  changelog/fragments/1759334752-fix-error-logging-for-provider-failures.yaml
  internal/pkg/composable/controller.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all

#9751 Add Windows/arm64 support for Agent
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.elastic-agent-package.yml
  dev-tools/mage/crossbuild.go
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/platforms.go
  dev-tools/mage/platforms_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/settings.go
  magefile.go
  pkg/testing/common/config_test.go
  pkg/testing/define/requirements.go
  specs/endpoint-security.spec.yml
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-9.2
