Repository elastic/elastic-agent, pull requests merged in 2025-01, with the labels that each got.

#6002 [helm] add support for creating services for agent presets
  deploy/helm/elastic-agent/examples/netflow-service/README.md
  deploy/helm/elastic-agent/examples/netflow-service/agent-netflow-values.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/eck/deployment.yaml
  deploy/helm/elastic-agent/templates/agent/eck/statefulset.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/daemonset.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/deployment.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/statefulset.yaml
  deploy/helm/elastic-agent/templates/agent/service.yaml
  deploy/helm/elastic-agent/values.schema.json
Labels: enhancement, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x

#6461 cleanup(2489): removed path.install option from the paths command, removed any usage of this command
  changelog/fragments/1735664420-remove-deprecated-path-install-cli-flag.yaml
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/cmd/common.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/enroll_cmd.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip

#6470 [8.x] restore cloud defend as an expected binary
  changelog/fragments/1735833843-Restore-cloud-defend..yaml
  dev-tools/mage/manifest/manifest.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-8.17

#6273 Log warning on same version upgrade to prevent failed status
  changelog/fragments/1733862556-Log-warning-on-same-version-upgrade-attempts.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
  testing/integration/upgrade_standalone_same_commit_test.go
  testing/upgradetest/upgrader.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-8.x, backport-8.16, backport-8.17

#6475 [helm] reload chart for each example folder
  magefile.go
Labels: bug, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x, backport-8.16, backport-8.17

#6476 Fix flaky test TestUpgradeHandlerSameVersion
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x, backport-8.16, backport-8.17

#6427 Switch Docker images to UBI
  changelog/fragments/1734959878-Replace-default-Ubuntu-based-images-with-UBI-minimal-based-ones.yaml
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  pkg/testing/kubernetes/supported.go
  testing/integration/kubernetes_agent_standalone_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip, chore

#6505 Run integration tests on changes to K8s packaging
  .buildkite/pipeline.yml
Labels: skip-changelog, ci, Team:Ingest-EngProd, backport-8.x, backport-8.16, backport-8.17

#6503 github-actions: copy gh labels to the mergify backports
  .github/workflows/mergify-labels-copier.yml
Labels: automation, skip-changelog, backport-8.x

#6512 [8.16] Restore maintainer label to container images
  changelog/fragments/1736520682-restore-maintainer-label.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-skip

#6513 [8.17] Restore maintainer label to container images
  changelog/fragments/1736520682-restore-maintainer-label.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: bug, Team:Elastic-Agent-Control-Plane, forwardport-main, backport-8.x

#6518 Moved estools to elastic-agent-libs
  pkg/testing/tools/estools/elasticsearch.go
  testing/integration/agent_long_running_leak_test.go
  testing/integration/beats_serverless_test.go
  testing/integration/fleetserver_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/metrics_monitoring_test.go
  testing/integration/monitoring_endpoint_test.go
  testing/integration/otel_test.go
Labels: skip-changelog, backport-8.x

#6477 Added loggers for Fleet enrollment call failures
  changelog/fragments/1736002257-log-fleet-enroll-failure-status-code.yaml
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/fleetapi/enroll_cmd.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-8.x

#6529 Add batch aggregator before lsm interval processor
  internal/pkg/otel/samples/darwin/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/logs_metrics_traces.yml
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x

#6530 Fix AGENT_COMMIT_OVERRIDE environment variable name
  dev-tools/mage/settings.go
Labels: bug, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent, skip-changelog, backport-8.x, backport-8.16, backport-8.17

#6531 fix(6235): added long description for the validate command
  internal/pkg/agent/cmd/validate.go
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x

#6551 Support VERSION_QUALIFIER for elastic-agent-core DRA
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/dra-publish.sh
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, ci, backport-8.x, backport-8.16, backport-8.17

#6547 Tidy `mage package` output: only display links on failure, fix failing fleet config embed
  dev-tools/cmd/buildfleetcfg/buildfleetcfg.go
  dev-tools/mage/gotool/linkcheck.go
  internal/pkg/agent/application/configuration_embed.go
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, Cleanup, skip-changelog, backport-8.x

#6563 github-actions(pre-commit): detect merge conflicts and shebangs
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: skip-changelog, backport-8.x, backport-8.17

#6571 pre-commit: fix failures
  .buildkite/hooks/pre-exit
  .buildkite/scripts/common.sh
  .buildkite/scripts/common2.sh
  .buildkite/scripts/install-gh.sh
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/install-kubectl.sh
  .buildkite/scripts/retry.sh
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/gce-cleanup.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  .buildkite/scripts/steps/k8s-tests.sh
  .buildkite/scripts/steps/sync-k8s.sh
  .buildkite/scripts/steps/unit-tests.sh
  .pre-commit-config.yaml
  dev-tools/deploy
  dev-tools/packaging/files/ironbank/config/docker-entrypoint
  dev-tools/packaging/files/linux/filebeat.sh
  dev-tools/packaging/files/linux/metricbeat.sh
  dev-tools/packaging/files/linux/otelcol.sh
  dev-tools/packaging/files/linux/systemd-daemon-reload.sh
  dev-tools/promote_docs
  dev-tools/vagrant_scripts/dockerProvision.sh
  dev-tools/vagrant_scripts/kindProvision.sh
  dev-tools/vagrant_scripts/unixProvision.sh
  version/docs/build_docs.sh
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x, backport-8.17

#6579 ci(buildkite): exclude .github folder and updatecli-compose.yaml
  .buildkite/pull-requests.json
Labels: skip-changelog, backport-8.x

#6556 Fail fast dra publish on errors
  .buildkite/scripts/steps/dra-publish.sh
Labels: skip-changelog, ci, Team:Ingest-EngProd, backport-8.x, backport-8.16, backport-8.17

#6585 Change the default gRPC port to 0 when in a container
  changelog/fragments/1737657890-Use-a-random-free-port-for-sub-process-communication-in-containers.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/configuration/grpc.go
  internal/pkg/agent/configuration/grpc_test.go
  testing/integration/kubernetes_agent_standalone_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-8.x

#6444 [otel/kube-stack]: Add gateway collector
  changelog/fragments/1735306293-add-gateway-collector-in-Helm-kube-stack-deployment.yaml
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/values.yaml
  testing/integration/otel_helm_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-8.x

#6598 Emit vars even if provider data is empty from the start
  changelog/fragments/1737735780-fix-empty-provider-data.yaml
  internal/pkg/composable/controller.go
  internal/pkg/composable/controller_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-8.16

#6587 Add filesource provider
  changelog/fragments/1737666699-Add-filesource-provider.yaml
  internal/pkg/agent/cmd/include.go
  internal/pkg/composable/providers/filesource/filesource.go
  internal/pkg/composable/providers/filesource/filesource_test.go
Labels: Team:Elastic-Agent-Control-Plane, backport-skip

#6568 Fix Fleet Enrollment Handling for Containerized Agent
  .mockery.yaml
  changelog/fragments/1737552345-Fix-enrollment-for-containerised-agent-when-there-is-an-enrollement-token-change-or-the-agent-is-unenrolled.yaml
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/configuration/fleet.go
  internal/pkg/crypto/hash.go
  internal/pkg/crypto/hash_test.go
  testing/integration/kubernetes_agent_standalone_test.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/diagnostics_provider_mock.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/log_level_setter_mock.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/uploader_mock.go
  testing/mocks/internal_/pkg/agent/application/info/agent_mock.go
  testing/mocks/internal_/pkg/agent/storage/storage_mock.go
  testing/mocks/internal_/pkg/fleetapi/acker/acker_mock.go
  testing/mocks/internal_/pkg/fleetapi/client/sender_mock.go
  testing/mocks/pkg/control/v2/client/client_mock.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-8.x

#6616 docs(otel): sort OTel components
  internal/pkg/otel/README.md
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, docs, skip-changelog, backport-8.x, backport-8.17

#6542 Changes to binary distribution
  _meta/.flavors
  changelog/fragments/1737131552-Changes-to-binary-distribution.yaml
  dev-tools/mage/settings.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/flavors.go
  internal/pkg/agent/install/flavors_test.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
  pkg/api/v1/manifest.go
  pkg/component/load.go
  pkg/component/load_test.go
  pkg/testing/fixture_install.go
  specs/apm-server.spec.yml
  specs/cloudbeat.spec.yml
  specs/endpoint-security.spec.yml
  testing/integration/fleetserver_test.go
  testing/integration/install_test.go
  testing/integration/upgrade_standalone_same_commit_test.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, backport-skip

#6348 [CI] Disable scheduled BK integration tests
  catalog-info.yaml
Labels: enhancement, backport-skip, skip-changelog, Team:Ingest-EngProd

#6641 [Heartbeat] Upgrade Node to LTS v18.20.6
  changelog/fragments/1738234199-heartbeat-upgrade-nodejs-18-20-6.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Labels: Team:Elastic-Agent-Control-Plane, dependency, Team:obs-ds-hosted-services, backport-8.x

#6650 chore: add linter that denies importing math/rand
  .golangci.yml
Labels: Team:Elastic-Agent-Data-Plane, Cleanup, skip-changelog, backport-8.x

#6651 use centralized version qualifier
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/version_qualifier.sh
Labels: Team:Elastic-Agent-Control-Plane, skip-changelog, forwardport-main, Team:Ingest-EngProd, chore, backport-8.x, backport-8.16, backport-8.17

#6654 mergify: remove backport-8.x enforcement
  .mergify.yml
Labels: backport-skip, skip-changelog

#6670 Fix dry run in dra publish script
  .buildkite/scripts/steps/dra-publish.sh
Labels: bug, Team:Elastic-Agent-Control-Plane, skip-changelog, backport-8.x, backport-8.16, backport-8.17, backport-8.18, backport-9.0

#6665 Update branch filters to include/exclude 9.*
  catalog-info.yaml
Labels: skip-changelog, ci, backport-8.x, backport-8.16, backport-8.17, backport-8.18, backport-9.0
